<div id="content">
  <div id="gallery">
    <div id="thumbnails">
    </div>
    <div id="viewer">
    </div>
  </div>
</div>


<script>
content = document.getElementById("content");
gallery = document.getElementById("gallery");
sidebar = document.getElementById("thumbnails");
viewer = document.getElementById("viewer");

function increase() {
  var div = document.createElement("div");
  div.setAttribute("class", "thumbnail");
  sidebar.appendChild(div);
  update();
}

function decrease() {
  if (sidebar.hasChildNodes()) {
    var last = sidebar.lastChild;
    sidebar.removeChild(last);
  }
  update();

}

function update() {
    thumbnails = document.getElementsByClassName("thumbnail");

    numColumns = Math.floor(Math.sqrt(thumbnails.length) - 1);
    numColumns = (numColumns < 1) ? 1 : numColumns;
    numRows = Math.ceil(thumbnails.length / numColumns);

    containerHeight = parseInt(getComputedStyle(sidebar).height, 10);
    thumbnailHeight = containerHeight / numRows;
    thumbnailHeight = Math.min(thumbnailHeight, containerHeight / 3.0)
    thumbnailWidth = thumbnailHeight * 1;

    sidebarWidth = ((numColumns * thumbnailWidth) + (thumbnailWidth * 0.01));
    sidebar.style.width = sidebarWidth + "px";

    for (var i = 0; i < thumbnails.length; i++) {
      thumbnails[i].style.width = thumbnailWidth + "px";
      thumbnails[i].style.height = thumbnailHeight + "px";
    }
}

window.onload = increase;

// Keyboard control
window.addEventListener("keydown", onKeyDown, false);

function onKeyDown(e) {
    if (e.keyCode == "37") { // left arrow key
      decrease();
    } else if (e.keyCode == "39") { // right arrow key
      increase();
    }
}
</script>


<style>
body {
  background-color: #ddd;
}
#content {
  border: 1px solid #bbb;
  background-color: white;
  margin: 1em;
  padding: 1em;
  width: 900px;
}
#gallery {
  display: flex;
}
#thumbnails {
  height: 400px;
  display: inline-block;
  line-height: 0;
}
#viewer {
  border: 3px solid purple;
  flex: 1 1 0;
  margin-left: 1em;
}
#top-bar, #bottom-bar {
  border: 1px solid red;
  clear: both;
}
.thumbnail {
  box-sizing: border-box;
  width: 100px;
  display: inline-block;
  border: 2px solid #222;
  background-color: #999;
}
</style>
