<div id="content">
  <div id="gallery">
    <div id="topbar">Topbar
      <button id="toggle-sidebar-button">Hide Thumbnails</button>
      <button id="fullscreen-button">Fullscreen</button>
    </div>

    <div id="slideshow">
      <div id="sidebar">Sidebar</div>
      <div id="viewer">Viewer</div>
    </div>
  </div>
</div>

<style>
body {
  background: #ddd;
}
#content {
  background: white;
  border: 1px solid #bbb;
  padding: 1em;
  width: 500px;
  height: 500px;
  /* resize: both;
  overflow: auto; */
}
#gallery {
  height: 100%;
  width: 100%;
  background: white;
  display: table;
}
#topbar {
  display: table-row;
  height: 1px;
  background-color: #cab;
}
#slideshow {
  height: 100%;
  display: table;
  width: 100%;
  background-color: #abc;
}
#sidebar {
  display: table-cell;
  width: 100px;
  background: #cba;
}
#viewer {
  display: table-cell;
}
#toggle-sidebar-button, #fullscreen-button {
   float:right;
}
</style>


<script>
content = document.getElementById("content");
sidebar = document.getElementById("sidebar");

var toggleSidebarButton = document.getElementById("toggle-sidebar-button");
toggleSidebarButton.onclick = function() {toggleSidebar()};

function toggleSidebar() {
  if (sidebar.style.display === "none") {
    sidebar.style.display = "table-cell";
    toggleSidebarButton.innerHTML = "Hide Thumbnails"
  } else {
    sidebar.style.display = "none";
    toggleSidebarButton.innerHTML = "Show Thumbnails"
  }
}

var button = document.getElementById("fullscreen-button");
button.onclick = function() {openFullscreen(content)};


function openFullscreen(elem) {
  if (elem.requestFullscreen) {
    elem.requestFullscreen();
  } else if (elem.mozRequestFullScreen) { /* Firefox */
    elem.mozRequestFullScreen();
  } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
    elem.webkitRequestFullscreen();
  } else if (elem.msRequestFullscreen) { /* IE/Edge */
    elem.msRequestFullscreen();
  }
}

function closeFullscreen() {
  if (document.exitFullscreen) {
    document.exitFullscreen();
  } else if (document.mozCancelFullScreen) { /* Firefox */
    document.mozCancelFullScreen();
  } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
    document.webkitExitFullscreen();
  } else if (document.msExitFullscreen) { /* IE/Edge */
    document.msExitFullscreen();
  }
}

</script>
