<div id="container">
<img  class="full-width"
      srcset="../source/deanimation/prints/images/240/2017.09.29.0578-framed.jpg 240w,
              ../source/deanimation/prints/images/480/2017.09.29.0578-framed.jpg 480w,
              ../source/deanimation/prints/images/640/2017.09.29.0578-framed.jpg 640w,
              ../source/deanimation/prints/images/768/2017.09.29.0578-framed.jpg 768w,
              ../source/deanimation/prints/images/1024/2017.09.29.0578-framed.jpg 1024w,
              ../source/deanimation/prints/images/1366/2017.09.29.0578-framed.jpg 1366w,
              ../source/deanimation/prints/images/1600/2017.09.29.0578-framed.jpg 1600w,
              ../source/deanimation/prints/images/1920/2017.09.29.0578-framed.jpg 1920w"
      sizes="(max-width: 300px) 240px,
             (max-width: 450px) 480px,
             640px"
      src="../source/deanimation/prints/images/768/2017.09.29.0578-framed.jpg">
</div>

<style>
body {
  background-color: #ddd;
}
#container {
  width: 700px;
  background-color: white;
  border: 1px solid #bbb;
  margin: 1em;
  padding: 1em;
}
.full-width {
  display: block;
  width: 100%;
}
</style>
