<div id="container">
  <div id="artwork">
    <img src="https://www.vincentvangogh.org/images/paintings/fishing-boats-on-the-beach.jpg">
  </div>
  <div id="description">
    <b>Fishing Boats On The Beach, 1888 by Van Gogh</b>
    <p>The artwork above (could be an image or a video) is positioned so as to
    fill the available space while maintaining it's natural aspect ratio. The
    idea is: "as wide as possible without being too tall".</p>

    <p>This area is for text which describes the above artwork. It is positioned
    just underneath the artwork and expands to fill available space below. It
    is at minimum 25% of the layout height (in which case the artwork gets
    pillarboxed). Also, this area is scrollable if the text content
    overflows.</p>
  </div>
</div>

<script>
ARTWORK_MAX_HEIGHT = 0.75;

artwork = document.getElementById("artwork");
description = document.getElementById("description");
image = artwork.getElementsByTagName("img")[0];

function updateLayout() {
  artworkAspect = image.naturalWidth / image.naturalHeight;
  artworkRegionAspect = window.innerWidth / (window.innerHeight * ARTWORK_MAX_HEIGHT);
  windowWidth = window.innerWidth;
  windowHeight = window.innerHeight;

  if (artworkRegionAspect > artworkAspect) {
    // The artwork is height constrained, must preserve the bottom 25%
    artworkHeight = windowHeight * ARTWORK_MAX_HEIGHT;
    artworkWidth = (windowHeight * ARTWORK_MAX_HEIGHT * artworkAspect);
  } else {
    // The artwork is width constrained, allowing for the lower area to expand
    artworkWidth = windowWidth;
    artworkHeight = (windowWidth / artworkAspect);
  }
  artwork.style.width = artworkWidth;
  artwork.style.height = artworkHeight;

  // Center the artwork laterally
  artwork.style.left = (windowWidth - artworkWidth) / 2;

  description.style.height = window.innerHeight - artworkHeight;
  description.style.width = window.innerWidth;
  description.style.top = artwork.style.height;
}

window.onresize = updateLayout;

// Do one initial update of the layout when the page is loaded
window.onload = updateLayout;
</script>

<style>
body {
  margin: 0px;
}
#container {
  background-color: lightgrey;
  width: 100%;
  height: 100%;
}
#artwork {
  position: absolute;
}
#description {
  position: absolute;
  background-color: white;
  box-sizing: border-box;
  padding: 1em;
  overflow-y: scroll;
}
img {
  width: 100%;
  height: 100%;
}
video {
  width: 100%;
  height: 100%;
}
</style>
