---
title: A Tree Vibrates
date: 2012-10-10
wrapping: post
---

<p>I spent the summer of 2010 in southeast Alaska, preparing for work as an
  outdoor guide, absorbed by high and wild places.</p>

<p>One evening, halfway though a sea kayaking course, our group arrives to make
  camp on a narrow shore where an old tree trunk protrudes horizontally out of
  an embankment.</p>

<p>This trunk must have belonged to a tree which tipped over long ago, bowing
  down all the way to the ground. Laying flat on the earth, the forces of the
  land and the sea must have cooperated to fix the base (by adding ground) and
  to free the end (by removing ground). It must have been lucky that its base
  was anchored in this way, otherwise it might have become driftwood. Thus the
  tree became a mighty spring pole.</p>

<p>To be fair, this tree, like all its companions, was already a mighty spring
  pole, even before it fell over. But thanks to this change of orientation, it
  became a mighty spring pole within reach!</p>

<p>The natural thing to do with such an apparatus is jump on and bounce around.
  I's right in the middle of our camp, so through the afternoon and evening many
  of us do just that, wobbling, bouncing and riding, one at a time, two at a
  time, two at a time with one trying to bounce the other off.</p>

<p>This rather uncommon tree gets me thinking. What a lovely springiness it has.
  At some point I think about physics class and oscillations. This is simple
  harmonic motion, as any physics student can see. And then I remember a
  high-school field trip to the Exploratorium. I was there in 2007 lingering
  over a small, out of the way exhibit, "
  <a href="https://www.exploratorium.edu/xref/exhibits/lissajous_rods.html"
  target="_blank">Lissajous Rods</a>
  ", consisting of skinny metal beams, fixed at one end, free at the other which
  trace periodic curves when plucked. Ah ha! I can see it now, this coniferous
  beam before us is a giant Lissajous Rod!</p>

<p>From here, the next step is obvious to me, I must capture the motion with
  long exposure photography. I have my camera and tripod, and head-mounted
  flashlight near by. The free end of the trunk is about the same circumference
  as my head, quite convenient. Here's the apparatus:</p>

<img class="full-width" src="2012-10-10-a-tree-vibrates-setup-.jpg">

<figcaption>The tree trunk, ready to reveal its hidden nature to the camera,
  thanks to the attached headlamp.</figcaption>

<p>Setup is quick, the shoot is quick. What a happy moment! I found curves that
  seem to belong on a graphing calculator, in the middle of the Alaskan
  wilderness.</p>

<div style="display:table; margin:-0.5em;">
	<div style="display:table-row">
		<div style="display:table-cell; padding:0.5em;">
			<img class="full-width" src="a-tree-vibrates-triple-diamond.png">
		</div>
		<div style="display:table-cell; padding:0.5em;">
			<img class="full-width" src="a-tree-vibrates-diagonal.png">
		</div>
	</div>
</div>

<figcaption><strong>A tree vibrates (2012)</strong><br>
Duratrans prints for backlit display. 14" x 23" each.</figcaption>

<p>I didn't set out on this excursion with mathematical photography in mind, but
  that's what happened. Picasso said: I do not seek, I find... And now I feel
  the exhilaration of finding, without having sought.</p>
