---
title: Carving Wooden Pliers
date: 2016-10-20
wrapping: post
---

<p>Look here, an object of some magic and satisfaction:</p>

<img class="full-width" src="2016-10-20-wood-pliers-1.jpg">

<p>This is a functional pair of pliers made from a single piece of wood, using
only 10 cuts.</p>

<p>I have wood carver David Warther to thank for this creation. I studied his
video to learn how to make these pliers. It took me a few viewings to get it,
but before long I could visualize its construction in my mind.</p>

<figure>
<video controls src="david-warther-pliers.mp4"></video>
<figcaption>
<p>David Warther shows how to carve his famous pliers. They give a pair away
to all the visiting children to the Warther Museum.</p>
<a href="https://www.youtube.com/watch?v=RFEY--Gp1D8" target="_blank"><b>Source</b></a>
</figcaption>
</figure>

<p>When I first saw this video, I was stunned — I had to make my own right
away. Now unlike David, I didn’t have any nice, straight-grained, basswood
lying around, so I had to settle for a piece of square poplar dowel. Apparently
my wood was quite a bit harder than David’s. And what’s worse, my dowel wasn’t
sawn parallel with the grain, but rather at 45-degrees, which means it wouldn’t
split naturally in the proper ways. So I think I made things harder on myself
by not starting with the right material.</p>

<p>And as you can see, here is the poor result from my first attempt:</p>

<img class="full-width" src="2016-10-20-wood-pliers-2.jpg">

<p>David cuts with grace and speed and finesse using just the right cutting
tool for the job. I on the other hand hacked away at mine with a coping saw and
box-cutter. I knew my approach was misguided, but I had to press on. I made a
second attempt.</p>

<img class="full-width" src="2016-10-20-wood-pliers-3.jpg">

<p>This produced a better result, yet still imperfect. At least it didn’t
shatter. The problem now was that the inner-piece broke apart right at the thin
point.</p>

<img class="full-width" src="2016-10-20-wood-pliers-4.jpg">

<p>So, what could I do? At this point my curiosity was satisfied, I had
demonstrated the 3d geometry of David’s pliers to myself. I was happy with a
theoretically successful result. So I decided to further compromise perfection
and just glue the broken piece back together.</p>

<p>For the glue operation, I assembled the pliers, placed a tiny shim of wood
right over the narrow part where the glue joint was to be formed and applied
pressure by placing a heavy weight on top of the shim. And voila, good
enough.</p>

<img class="full-width" src="2016-10-20-wood-pliers-5.jpg">

<p>So, in the end I cheated to make my wooden pliers. Maybe David Warther would
be disappointed, I accept that possibility. Fate willing, one day I will return
to this plier making technique with more suitable tools and materials, and may
then achieve perfection.</p>
