---
title: Role Models
wrapping: page
---

<p><a href="http://www.jeanpierrehebert.com/" target="_blank">
Jean-Pierre Hébert</a>
– A dear friend and creator of endless wonderful works of algorithmic art.
In his own words, "works in code and pigment on paper". His way of life,
family and work is a source of much inspiration. I've have been fortunate to
share many visits, many ideas, and a few collaborations since we met in 2007.
Here's a nice article on his work:</p>

<figcaption>Interalia Magazine, <a href="http://www.interaliamag.org/articles/jean-pierre-hebert/" target="_blank">
Drawing is just a thought</a>, April 2016</figcaption>

<p><a href="https://www.reubenmargolin.com/" target="_blank">
Reuben Margolin</a>
– Maker of kinetic sculptures which oscillate and wave. I saw his sculpture
installation <a href="http://www.exploratorium.edu/press-office/press-releases/math-and-night-sea" target="_blank">
Math and the night Sea</a> at the San Francisco Exploratorium
in 2006 and I was really knocked out by his piece
<a href="https://www.reubenmargolin.com/waves/Square/" target="_blank">Square Wave</a>.</p>

<p><a href="http://kennethsnelson.net/">
Kenneth Snelson</a>
– The father of Floating Compression, more commonly known as Tensegrity. He
makes monumental sculptures with wire rope stretched tight between giant beams,
and they stretch the imagination.</p>

<p><a href="http://www.xavibou.com/" target="_blank">
Xavi Bou</a>
– Photographer, working with sequential exposure techniques. His series
"Ornitographies" depicts trajectories of birds in flight. Their rapid motions
are captured in video, frame-by-frame. Then, the sequence of frames is joined
together into single images which are stunning, yet methodical.</p>

<p><a href="http://woodgears.ca/" target="_blank">
Matthias Wandel</a>
– My favorite woodworker by a mile. He describes his style as "An engineer's
approach to woodworking". His webpage and <a href="https://www.youtube.com/user/Matthiaswandel" target="_blank">
youtube channel</a> provide a masters level education in this
field.</p>

<p><a href="http://shadowfolds.com/" target="_blank">
Chris Palmer</a>
– Scholarly artist of geometry, recursion, symmetry, tiling, polytopes, and
more. Digital modeling and fabrication specialist. Inventor of toys and games,
both physical and computer-based.</p>

<p><a href="http://people.eecs.berkeley.edu/~sequin/" target="_blank">
Carlo Sequin</a>
– Polytope and topology enthusiast extraordinaire. Geometric sculptor,
fabricator. Professor of Computer Science. One of my <a href="https://www.youtube.com/playlist?list=PLt5AfwLFPxWLfhe8-PmYYc2Gkw2YzjRWQ" target="_blank">
favorite guests on Numberphile</a>.</p>

<p><a href="https://markareynolds.com/" target="_blank">
Mark Reynolds</a>
– Artist in pursuit of sublime planar geometry.&nbsp; Connoisseur of history
of art and architecture. Professor of geometry and art. I see his work as
algorithmic, using the procedural logic of drafting tools: compass, ruler,
protractor. He renders his compositions exquisitely using traditional materials
and practice.</p>

<p><a href="http://www.chrisbirke.com/" target="_blank">
Chris Birke</a>
– Polymath and an expert in computer graphics, with a special mathematical
disposition and creative energy. I’d explain his work as pursuing new frontiers
in encodings of space and structure.</p>

<p><a href="http://www.tomsachs.org/" target="_blank">
Tom Sachs</a>
– Sculptor, self-described as a "bricoleur". Maker of worlds of hand-crafted
works of humble materials and imagination. I attended his show, "Space Program:
Europa" in San Francisco in late 2016, and wrote a <a href="%{root}/blog/2016-10-17-real-make-believe-space-programs/%{postfix}" target="_blank">
research paper</a> on it, just because.</p>

<p><a href="http://www.pellecass.com/" target="_blank">
Pelle Cass</a>
– Photographer, working with temporal composite image techniques. His series
"Crowded Fields" is a marvel to behold. They are images taken out of time, or
where time is strangely collapsed. The camera remains stationary and images of
moving subjects, athletes in this case, are captured over a period of minutes
or hours. Then, through masking and compositing, the disparate images of
subjects, occupying all parts of the camera's frame, are all combined into a
single supernormal image.</p>

<p><a href="http://www.georgehart.com/cite/cite.html" target="_blank">
George W. Hart</a>
– Geometer, sculptor, co-founder of North America's only <a href="https://en.wikipedia.org/wiki/Museum_of_Mathematics" target="_blank">Math Museum</a>
His virtual and physical works are a delight for the polyhedra enthusiast.</p>

<p><a href="http://www.tensegriteit.nl/" target="_blank">
Marcelo Pars</a>
– Prolific tensegrity sculptor. Maker of countless forms with wooden dowels and
nylon twine. He describes his approach involving lots of mathematical
calculation at the outset, prior to fabrication and assembly.</p>

<p><a href="https://en.wikipedia.org/wiki/Gjon_Mili" target="_blank">
Gjon Mili</a>
– Photographer, regarded for his long exposure and strobe light works. He
captures moving subjects in dramatic still images which appeal both to the
artist and the engineer. Below is a nice article about his famous photos of
Pablo Picasso painting with light.</p>

<figcaption>Visual News, <a href="https://www.visualnews.com/2012/05/14/still-shining-from-1949-picassos-light-drawings/" target="_blank">
Picasso's Light Drawings: Still Shining from 1949</a>, May 2012</figcaption>

<p><a href="https://en.wikipedia.org/wiki/Hugh_Kenner" target="_blank">
Hugh Kenner</a>
– Scholar of literature and engineering. His book, <a href="http://www.ucpress.edu/book.php?isbn=9780520239319" target="_blank">
Geodesic Math and How to Use It</a>, provides an outstanding treatment of many
special structures, including <a href="https://tensegrity.wikispaces.com/Kenner,+Hugh" target="_blank">
tensegrity</a>.</p>

<p><a href="https://www.flickr.com/photos/kimbell/" target="_blank">
Martin Kimbell</a>
– His long-exposure photographs and painting with light is magical. Check out
this <a href="https://www.flickr.com/photos/kimbell/sets/72157612159225532" target="_blank">
album</a> of his on flickr. For most of his shots, it looks like he uses a
self-made hoop with LEDs on the rim. He also has some gorgeous lissajous curves
which I posted <a href="%{root}/blog/check-out-martin-kimbell/%{postfix}" target="_blank">
here</a>. Below is a nice article describing his work.</p>

<figcaption>Exposure Guide, <a href="http://www.exposureguide.com/inspiration/light-painted-shapes-and-long-exposure-landscapes/" target="_blank">
Light-Painted Shapes and Long Exposure Landscapes</a>, August 2014</figcaption>

<p><a href="http://beesandbombs.tumblr.com/" target="_blank">
Dave Whyte</a>
– Maker of amazing animated digital drawings under the name "Bees and Bombs"
using <a href="https://processing.org/" target="_blank">Processing</a> and more.
Here's my favorite of his, <a href="http://beesandbombs.tumblr.com/post/104613655319/sphere-tangle" target="_blank">
sphere tangle</a>. Here's his <a href="http://beesandbombs.tumblr.com/post/85134754974/the-official-bees-bombs-gif-guide-because-a-few" target="_blank">
official gif guide</a> for the making of.</p>

<p><a href="http://www.numbercrunch.com.au/" target="_blank">Simon Pampena</a>
– Numeracy ambassador, stand-up mathematician. His <a href="https://twitter.com/mathemaniac" target="_blank">
twitter</a> presence is sure to bring a smile.</p>

<p><a href="https://www.instagram.com/llo.bosc/" target="_blank">
Llorenç Rodríguez Astor</a>
– My brother-in-law. Maker of wood sculptures and more. He once made me a great
cork oak bowl. When I told him, "It's beautiful, nicely done", he responded
with, "The tree did most of the work".</p>

<p><a href="http://davidneevel.com/">
David Neevel</a>
– Creator of short form sketches, videos, ads, and more. Uniquely silly.</p>

<p><a href="http://typicalprogrammer.com/" target="_blank">
Greg Jorgensen</a>
– Author of the blog "Typical Programmer".</p>

<p><a href="http://prog21.dadgum.com/" target="_blank">
James Hague</a>
– Author of blog, "Programming in the 21st Century".</p>

<p><a href="http://www.chenalexander.com/" target="_blank">
Chen Alexander</a>
– Maker of digital works of sound and image.</p>

<p><a href="http://www.deansphotographica.com/machining/projects/projects.html" target="_blank">
Dean Williams</a>
– Small scale machinist and repairer of vintage film cameras. I came across
Dean through his article on <a href="http://www.deansphotographica.com/machining/projects/springs/springs.html" target="_blank">
spring making</a>.</p>

<hr>

<h3>Still more role models:
(in no particular order)</h3>
<p>Sam Maloof, Constantin Brâncuși, Buckminster Fuller, Frank Oppenheimer,
Carl Sagan, Harold Edgerton, Bill Nye, George Hart, Salman Kahn,
Neil DeGrasse Tyson, Cliff Stoll, Richard Dawkins, Daniel Dennett,
Harold Ableson+Gerald Sussman, Casey Reas+Ben Fry, Margaret Hamilton,
Casey Neistat, John Cage, Piet Mondrian, Bruce Yeany, Destin Sandlin,
Grant Sanderson, Gjon Mili, Pau Casals, Richard Feynman, Adam Savage,
Robert Krulwich, Jad Abumrad, Oliver Sachs, Ira Glass, Phillip Glass,
Malcolm Gladwell, They Might Be Giants, Walter Lewin, John Muir,
Douglas Hofstader, Tom Lehrer, Jordan Peterson, Yvon Chouinard, Norman Tuck,
Theo Jensen, Ruth Asawa, Bridget Riley, Edward Wohl, Michael Kenna.</p>

<hr>

<blockquote>The personality should be provided with someone it can revere, someone
whose influence can make even its private, inner life more pure. Happy the
man who improves other people not merely when he is in their presence but
even when he is in their thoughts! And happy, too, is the person who can so
revere another as to adjust and shape his own personality in the light of
recollections, even, of that other. A person able to revere another thus will
soon deserve to be revered himself. So choose yourself a Cato - or, if Cato
seems too severe for you, a Laelius, a man whose character is not quite so
strict. Choose someone whose way of life as well as words, and whose very
face as mirroring the character that lies behind it, have won your approval.
Be always pointing him out to yourself either as your guardian or as your
model. There is a need, in my view, for someone as a standard against which
our characters can measure themselves. Without a ruler to do it against, you
won’t make the crooked straight. - Lucius Seneca, Letter 11
</blockquote>
