---
title: Osciloscope Animation
date: 2012-08-12
wrapping: gallery
---

<p>This Analog Electronics lab at UCSB is challenging! </p>


<p>For me, the tinkering, and the building and testing, provides a special
  reward that can’t be found with only the equations and problem sets in a
  typical lecture course.</p>

<p>Here, towards the end of the curriculum, we have an assignment dealing with
  some circuit which oscillates. And let me tell you, this is the best kind of
  circuit for having fun with the oscilloscope! At some point, after the lab
  write-up was complete, I went into a transfixed state playing with these
  drawings and making these videos late into the night.</p>

<p>Now, a “serious” user of an oscilloscope would want to adjust the timing so
  that these repetitive waveforms appear static and frozen on the screen -
  better for making measurements that way. There’s a “trigger” feature on the
  scope which can be set to go off on a given portion of the signal, and when
  that happens the image is redrawn, each time starting from the same point.
</p>

<p>What we have here however, is a scenario where the trigger is set on a
  separate (undrawn) waveform which has a slightly different period from the
  signal being drawn. So, each time, the image is redrawn starting from a
  point slightly earlier or later on the waveform than the previous image,
  and we have movement!</p>

<p>Electronics is hard, because the distances, speeds, scales, quantities, and
  behavior of electrons flowing through circuits is so difficult to imagine.
  The oscilloscope is valuable because of what it reveals. And the
  oscilloscope is a joy because it makes drawings with physical phenomena.</p>
