---
title: Plate Map Generator
date: 2017-07-30
wrapping: showcase
---

<p>This is a programming project I did for friend of mine who works as a
scientist.</p>

<p>It's a GUI tool which lets you take experimental parameters and generate a
plate map in spreadsheet format. It's designed for scientists like her who use
96-well microplates and do research by testing multiple factors across the
wells of a plate.</p>

<p>It's built with pure Javascript, which I take satisfaction in.</p>

<h3>Background</h3>

<p>For sciences such as chemistry or biology, it's common to use a standard type
of labware, called a microplate, for conducting experiments with liquids. The
plates are like a tray with an array of small wells, approximately 1 milliliter
in volume. The wells are used like tiny test-tubes, and in a given test tube a
small scale experiment can be performed.</p>

<p>Because there are lots of these tiny test tubes packaged together,
experimentors can test lots of parameters at lots of different levels all at
once. It's common to involve automation techniques and tools, such as liquid
handling robots which can designed to operate with microplates.
This tool is designed for users of one common plate format which has
96 wells in an 8x12 arrangement.</p>

<p>You can view the code for this tool
<a href="https://gitlab.com/jeremysarchet/plate-map-generator" target="_blank">here</a>.</p>
