
/* body {
  font-family: "gotham", HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #30373c;
  background-color: #fff;
}

h1, h2 {
  color: green;
} */

hr {
  background-color: black;
  border: none;
  height: 1px;
}

fieldset {
  display: inline-block;
  border: 2px solid;
  margin: 5px;
}

fieldset.parameter, fieldset.treatment {
  border: 1px solid;
}

input, button, select {
  border: 1px solid;
  margin: 5px;
}

table {
  border: 2px solid;
  margin: 5px;
  border-collapse: collapse
}

th {
  font-weight: bold;
}

td, th {
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

input.level-value {
  width: 60px;
}

button.delete {
  background-color: #f27269;
  border-radius: 4px;
  padding-bottom: 6px;
  width: 22px;
  height: 22px;
}

.first-summary-row {
  border-top: 1px solid black;
}

#output-area {
  overflow-x: auto;
}
