---
title: Tudela
date: 2018-05-04
wrapping: gallery
see-also: framed-prints
---

<p>These works depict the trajectories of flying things around coastal
Catalonia, captured in the spring of 2018.</p>

<p>Some of these moving scenes are captured at the
<a href="https://ca.wikipedia.org/wiki/Pla_de_Tudela" target="_blank">Pla de Tudela</a>,
which is one of my favorite places, and an emblematic section of the local shoreline.</p>

<p>These video artworks are created from sequences of images, blended together
to reveal the motion of the subject. It's a technique inspired by
<a href="https://en.wikipedia.org/wiki/Chronophotography" target="_blank">Chronophotography</a>.
</p>

<h3>How it works</h3>

<p>The process begins by capturing a moving subject on video, using a camera on
a sturdy tripod. I then extract the individual frames from the video to produce
an image sequence. Then, with pixel-processing and computational techniques,
the frames are sequentially superimposed, to make a progression that reveals the
otherwise invisible tracks that the moving subjects leave behind.</p>

<ul>
<li><a href="https://gitlab.com/jeremysarchet/deanimation" target="_blank">Code and implementation</a></li>
</ul>

<h3>What's it all about?</h3>

<p>What I see in these trajectories are line drawings with a liveliness that
comes from directly tracing the physics of nature. The lines are abstract,
like that which a simulation or an algorithm might produce. At the same time
they are concrete, they are captured representations of physical subjects
following their own rich and complex paths through the real world.</p>

<p>It's as if, instead of doing the programming myself to make a composition,
I let nature do the programming and I arrange to capture and reveal it.</p>
