---
title: Tuolumne
date: 2017-10-20
wrapping: gallery
see-also: framed-prints
---

<p>This collection of videos reveals movement in and around the Tuolumne
River in Yosemite, California in 2017. The subjects are bubbles, pine needles
and other floating forest debris, projectile water droplets, and other flying
things.</p>

<p>What I’ve done is to capture moving subjects with video. The camera is set
on a steady tripod, so that the background can remain stable and only the
motion of the subject comes through. It helps if there is some contrast between
the subject and the background –in the case of this series the subjects are
light and the background is dark.</p>

<p>Because the video is captured on a sturdy tripod, you can see how the
background remains stable and the only motion that comes through is that of the
moving subjects.</p>

<h3>Framed Prints</h3>

<p>In addition to the video art, I've taken the final still images and made
single edition prints. These prints depict the full accumulation of the blends.
In a way, they are like abundant multiple exposures.</p>

<ul>
<li><a href="%{root}/deanimation/framed-prints/%{postfix}">Framed Prints</a></li>
</ul>

<h3>How it works</h3>

<p>These videos are created from sequences of images, blended in a progression
to reveal the motion of the subject. You can see how crisp tracks will develop
as these natural tracers move along their complex trajectories. The blending
algorithm also has a particularly alluring effect on the water itself – as if
it was taken out of time, or in a state of suspension.</p>

<p>I take the individual frames from a video clip to produce an image sequence.
Then, with pixel-processing and computational techniques, the frames are
superimposed in a progression. In doing so, the paths that these
moving, fleeting subjects take through space become revealed.</p>

<ul>
<li><a href="https://gitlab.com/jeremysarchet/deanimation" target="_blank">Code and implementation</a></li>
</ul>

<h3>What's it all about?</h3>

<p>What I see in these trajectories are line drawings with a liveliness that
comes from directly tracing the physics of nature. The lines are abstract,
like that which a simulation or an algorithm might produce. At the same time
they are concrete, they are captured representations of physical subjects
following their own rich and complex paths through the real world.</p>

<p>It's as if, instead of doing the programming myself to make a composition,
I let nature do the programming and I arrange to capture and reveal it.</p>
