<!--
A data visualization of photo/video modes across leading cameras.
Jeremy Sarchet 2019-05-22
-->

<div id="plot-area">

  <div id="plot-type-select-parent">
    <form id="plot-type-select">
      <fieldset style='border:1px solid black'>
        <legend>Plot type</legend>
        <input type="radio" name="plot-type-control" id="lin-log-radio-button" checked="checked"/>
        <label for="lin-log-radio-button">Lin-Log</label>
        <br>
        <input type="radio" name="plot-type-control" id="log-log-radio-button"/>
        <label for="log-log-radio-button">Log-Log</label>
      </fieldset>
    </form>
  </div>

<table id="plot">
<!--
For the layout use a 3x3 Table:
|1|2|3|
|4|5|6|
|7|8|9|

With merged cells as such:
|1  |2|
|   | |
|3|4| |
 -->

<col width='325'>
<col width='75'>
<col width='175'>
  <tr>
    <td height='300' colspan='2' rowspan='2' style="text-align:right">
        <svg id="my-svg">
    </svg>

    </td>
    <td rowspan='3'>

  <div id='legend' style="padding:5px">
  Mouseover (or tap) to highlight
  <br>
  <hr>
  </div>

    </td>
    <!-- <td>3</td> -->
  </tr>
  <tr>
    <!-- <td>4</td> -->
    <!-- <td>5</td> -->
    <!-- <td>6</td> -->
  </tr>
  <tr>
    <td height='150' style="padding-left:30px">
    <div id='plot-footer'>
    </div>

    </td>
    <td style='vertical-align:middle'>
  <div style="padding-left:5px; padding-top:5px; padding-right: 5px">
    Filter
    <hr>
  </div>
    <!-- <br> -->
    <div id='filters'>
    </div>

    </td>
    <!-- <td>9</td> -->
  </tr>
</table>

</div>

<script src="plot.js"></script>


<style>
#plot-area {
  margin: 0em;
  line-height: 1.15em;
  /* background-color: #888; */
}
.footer-title {
  font-family: Arial;
}
.camera-entry {
  font-family: Arial;
  padding-bottom: 10px;
}
.envelope .curve {
  opacity: 0.6;
}
.envelope .area {
  opacity: 0.0;
}
#plot-area input, #plot-area button, #plot-area select {
  border: 1px solid;
  margin: 5px;
}
#plot-area p, #plot-area form, #plot-area div{
  font-family: Arial;
}
#plot-area table {
  background-color: white;
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: fixed;
  width: 800px;
  height:600px;
}
#plot-area th, #plot-area td {
  border: 1px solid black;
  vertical-align: top;
}
#plot-area hr {
  border: 1px solid black;
}
#plot-type-select-parent {
  position: relative;
}
#plot-type-select {
  background-color: rgba(255, 0, 0, 0.5);
  display:inline-block;
  position: absolute;
  top:  70px;
  left: 370px;
  background-color: white;
}
</style>
