---
title: Shopping
wrapping: page
---

<p>Here's some of my favorite vendors and products, in no particular order,
grouped by region.</p>

<p>In moving to Catalonia in 2021 (after living in California my whole life)
a big part of me making myself at home here has been finding out where to buy
things and what things there are here to buy.</p>

<h3>Europe</h3>

<ul>
	<li>
		<p>
			<a href="https://www.dictum.com/">Dictum</a>
			— woodworking and gardening tools
		</p>
	</li>
	<li>
		<p>
			<a href="https://about.manomano.com/en/">Manomano</a>
			— online marketplace for home improvement products
		</p>
	</li>
	<li>
		<p>
			<a href="https://nordisk.eu/">Nordisk</a>
			— outdoor clothing and textile-based equipment
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.photospecialist.com/">Photospecialist</a>
			— camera equipment
		</p>
		<ul>
			<li>
				<a
					href="https://www.photospecialist.es/epson-surecolor-sc-p700-a3-fotoprinter"
					title="EPSON SURECOLOR SC-P700 A3+ PHOTO PRINTER"
				>
					Epson SC-P700 printer
				</a>
				— I've been using this to print artworks and family photos and it is
				becoming a trusty little machine.
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://www.kaiserkraft.de/">Kaiser Kraft</a>
			— industrial furniture and equipment
		</p>
	</li>
	<li>
		<p>
		<a href="https://www.polsinelli.it/">Polsinelli</a>
			— industrial food and beverage equipment
		</p>
		<ul>
			<li>
				<a
					href="https://www.polsinelli.it/fusto-europa-15-l-P1578.htm"
					title="Fusto Europa 15 L"
				>
					Stainless steel water container
				</a>
				— this is a tank that seems designed for olive oil or other liquid
				foods or beverages. I've been using it for road trips and camping as
				a water tank. I like that it's stainless steel instead of plastic
				which is what you'll commonly find for water tanks when shopping in
				an outdoor recreation context. I think it'll prove more durable, and
				what's more, you can leave it filled in the car, even during hot
				weather and you don't get the water taking on a plastic taste.
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://www.maisonsdumonde.com/">Maisons du Monde</a>
			— furniture and home goods
		</p>
		<ul>
			<li>
				<a
					href="https://www.maisonsdumonde.com/ES/es/p/colchon-gaddiposh-de-algodon-amarillo-90x190-sixties-159987.htm"
					title="Colchón gaddiposh de algodón amarillo 90x190"
				>
					Cotton gaddiposh mattress
				</a>
				— Firm, slim, made of natural fibers. I would say it's like a
				traditional Japanese futon, but more compact and stowable.
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://engels.eu/">Engels</a>
			— industrial storage containers
		</p>
		<ul>
			<li>
				<a
					href="https://www.engelslogistiek.nl/nl_en/webshop/stackable-storage-and-transport-containers/lidded-bins-rako"
					title="Normbox stackable bins with lid"
				>
					Storage boxes
				</a>
				— it seems there's a "Euronorm" system for such boxes to facilite
				stacking and interoperability, with standardized lengths and widths
				where, for a given box size, a pair of the next size down can stack
				side by side on top. E.g. for a 40x30cm box, the next size down is
				20x15cm
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://www.modulor.de/">Modulor</a>
			— arts and crafts, workshop and office supplies
		</p>
	</li>
	<li>
		<p>
			<a href="https://filofax.com/">Filofax</a>
			— notebooks, binders, folders, etc.
		</p>
	</li>
	<li>
		<p>
			<a href="http://www.foker.com/">Foker</a>
			— stoves, cooking appliances and accessories
		</p>
		<ul>
			<li>
				<a
					href="http://www.foker.com/pdf/Foker_catalogo_web%2035.pdf"
					title="Fornellone 1 fuoco Mod. Q.P. in ghisa verniciato."
				>

					Cast iron 2.5 kW burner
				</a>
				— a trusty, durable, handsome, camp cooker
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://www.bruneau.es/">Bruneau</a>
			— office supplies
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.papierdirekt.de/">Papier Direkt</a>
			— paper, cards, envelopes
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.allit.de/en/products/diy">Allit</a>
			— parts organizers, industrial storage
		</p>
		<ul>
			<li>
				<a
					href="https://www.manomano.es/catalogue/p/caja-de-entido-de-metal-14-cajas-intercambiables-32359060"
					title="Caja de entido de metal 14 cajas intercambiables"
				>
					Parts organizer with removable compartments
				</a> (from Manomano)
				— This is the perfect balance between affordability and functionality.
				A while back I watched Adam Savage give a show-and-tell about his
				Sortimo parts organizers, which have this kind of removable compartment
				construction, but are expensive and super high-end. This is the dream
				of Sortimo with more humble execution.
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://www.petromax.de/en/">Petromax</a>
			— camp kitchen and cast iron cookware
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.campz.com/">Campz & Addnature</a>
			— outdoor recreation equipment
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.reima.com/">Reima</a>
			— childrens outdoor clothing
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.snowleader.com/">Snowleader</a>
			— snow recreation equipment
		</p>
	</li>
</ul>


<h3>Spain</h3>

<ul>
	<li>
		<p>
			<a href="https://segarra.es/">Segarra</a>
			— shoes and boots
		</p>
	</li>
	<li>
		<p>
			<a href="https://bestard.com/">Bestard</a>
			— outdoor, technical footwear
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.chiruca.com/">Chiruca</a>
			— hiking boots
		</p>
		<ul>
			<li>
				I've heard that "Chiruca" has even come to be used as a
				generic term for hiking boots in Spain. "Go get your Chirucas and let's
				hit the trail", you might say.
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://www.barrabes.com/">Barrabes</a>
			— mountain recreation gear
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.fotocasion.es/">Fotocasion</a>
			— new and used camera equipment
		</p>
	</li>
	<li>
		<p>
			<a href="https://elrefugiodeportes.com/">Deportes El Refugio</a>
			— climbing and mountain recreation gear
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.ferrehogar.es/">FerreHogar</a>
			— camping equipment. I love their minimalistic website design.
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.pccomponentes.com/">PC Componentes</a>
			— computer equipment
		</p>
	</li>
	<li>
		<p>
			<a href="https://cruzdemalta.es/">Cruz de Malta</a>
			— cutlery
		</p>
		<ul>
			<li>
				<p>
					<a
						href="https://www.tiendaporcelana.es/cuberteria-oslo-cruz-de-malta113-piezas-cuchillo-mesa-monoblock-ref-7000-en-estuche-de-madera.html"
						title="Cuberterías OSLO 113 piezas ref. 7000 Cruz de Malta con Cuchillo Mesa"
					>18/10 Stainless steel cutlery set</a> (via Tienda de la Porcelana)
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://www.bojglobal.com/en/history">BOJ</a>
			— cookware
		</p>
		<ul>
			<li>
				<p>
					<a
						href="https://www.bojglobal.com/es/bateria-de-cocina-y-sartenes"
						title="Batería de cocina y sartenes"
					>Stainless steel pots and pans</a>
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://www.tiendaporcelana.es/">Tienda de la Porcelana</a>
			— ceramics, tableware
		</p>
		<ul>
			<li>
				<p>
					<a
						href="https://www.tiendaporcelana.es/fabricantes-vajillas-cristalerias-y-cuberterias-menaje-hogar-porcelana/vajillas-porcelana-pontesa-santa-clara/servicios-mesa-vajillas-cafes-tes-consomes-pontesa-santaclara-melide-blanco-personalizar.html"
						title="Melide Blanco Pontesa Vajilla"
					>
					Ceramic dining set
					</a>
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://www.astikitline.es/es/">Astigarraga Kit Line</a>
			— wood furniture
		</p>
		<ul>
			<li>
				<p>
					<a
						href="https://www.manomano.es/p/estanteria-esquinera-4-baldas-regulable-1207x50x25cm-gala-6236248?model_id=2629950"
						title="Estantería librería Gala ASTIGARRAGA de 6 baldas de madera maciza de pino 184,7x80x25cm"
					>
					Solid wood bookshelf
					</a>
					(via Manomano)
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://www.tamayoycia.com/">Tamayo y Cía</a>
			— industrial packaging materials
		</p>
		<ul>
			<li>
				<p>
					<a
						href="https://www.tamayoycia.com/cajas-de-carton-y-contenedores/cajas-para-archivar.html"
						title="CAJAS TROQUELADAS, AUTOMONTABLES HECHAS EN CARTÓN SENCILLO"
					>
					Cardboard storage boxes
					</a>
					— I've bought the larger size, 470 x 395 x 280 mm, and would like to buy
					the smaller size, 385 x 115 x 270 mm, but the smaller size has been
					sold out
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://selfpackaging.es/">SelfPackaging</a>
			— plain and customizable cardboard boxes
		</p>
		<ul>
			<li>
				<p>
					<a
						href="https://selfpackaging.es/cajas-de-carton/2512-caja-de-envios-premium-4801.html"
						title="Caja de envíos premium"
					>
						Shallow box with integrated flap lid
					</a>
					— I've bought the "L" size, 10 x 39.5 x 30.4 cm
				</p>
			</li>
			<li>
				<p>
					<a
						href="https://selfpackaging.es/cajas-de-carton/2509-caja-para-zapatos-4544.html"
						title="Caja para zapatos"
					>
						Shoebox style storage boxes
					</a>
					— I've bought all three sizes
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://www.zalando.es/">Zalando</a>
			— clothing marketplace
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.ayerbe.net/">Ayerbe</a>
			— industrial tools and heavy equipment
		</p>
		<ul>
			<li>
				<p>
					<a
						href="https://www.ayerbe.net/categoria/productos/manutencion-elevacion/manutencion-2/carretillas-y-carros/"
						title="Carretillas y carros"
					>
						Hand trucks and dollies
					</a>
					— I've bought the most basic hand truck, model no. 580470 (via
					Modrego Hogar)
				</p>
			</li>
		</ul>
	</li>
</ul>

<h3>Catalonia</h3>

<ul>
	<li>
		<p>
			<a href="https://jbpsamarretes.com/">JBP</a>
			— clothing
		</p>
		<ul>
			<li>
				The website seems to be primarily designed for commercial
				bulk sales with screenprinting. I've shopped in their Girona store and
				found locally made items with solid, earthy colors and natural fibers.
				Just my cup of tea.
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://www.modregohogar.com/">Modrego Hogar</a>
			— home improvement and hardware
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.pallaressolsona.com/en/products/">Pallarès Solsona</a>
			— knives, all kinds of tools with blades, and cooking accessories
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.arteymemoria.com/">Arte & Memoria</a>
			— archival supplies
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.totcar.com/">Totcar</a>
			— vehicle accessories
		</p>
	</li>
	<li>
		<p>
			<a href="https://mery.es/">Rayen & Mery</a>
			— home care products
		</p>
		<ul>
			<li>
				Isn't their web design lovely? (2022)
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://tonipons.com/">Toni Pons</a>
			— shoes and slippers 
		</p>
	</li>
	<li>
		<p>
			<a href="https://vpiera.com/ca/">Vicenç Piera</a>
			— art materials
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.buff.com/">Buff</a>
			— head and neck warmers
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.fruc.es/wp-content/uploads/2021/11/FRUC21v5_compressed.pdf">Fruc</a>
			— tools and accessories
		</p>
		<ul>
			<li>
				<p>
					<a
						href="https://www.modregohogar.com/ferreteria/escaleras/escaleras-de-madera"
						title="Escaleras de madera"
					>
						Wooden stepladders
					</a>
					(via Modrego Hogar) — I'm so fond of wood
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://www.emilianna.com/">Emilianna</a>
			— school and office supplies
		</p>
	</li>
</ul>

<h3>United States</h3>

<ul>
	<li>
		<p>
			<a href="https://www.uline.com/">Uline</a>
			— industrial and packaging materials
		</p>
		<ul>
			<li>
				<p>
					<a
						href="https://www.uline.com/Product/Detail/S-6521/Storage-File-Boxes/Economy-Storage-File-Box-with-Lid-15-x-12-x-10"
						title="Economy Storage File Box with Lid - 15 x 12 x 10"
					>
						Cardboard storage box with lid
					</a>
					— I have a special love for these boxes. They are sturdy, affordable,
					and the size is just right for most things. In 2017, I built a series
					of shelves designed just for these boxes, inspired by the "wall of
					boxes" at M5 Industries.
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
			<a href="https://www.artifactuprising.com/">Artifact Uprising</a>
			— custom photo prints, books, cards
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.mcmaster.com/">McMaster-Carr</a>
			— industrial supplies
		</p>
	</li>
	<li>
		<p>
			<a href="https://excaliburdehydrator.com/">Excalibur</a>
			— electric food dehydrators
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.universityproducts.com/">University Products</a>
			— archival supplies
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.framedestination.com/">Frame Destination</a>
			— picture framing materials and services
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.bhphotovideo.com/">B&H</a>
			— photography equipment
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.jerrysartarama.com/">Jerry's Artarama</a>
			— art supplies and materials
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.adorama.com/">Adorama</a>
			— photography equipment
		</p>
	</li>
	<li>
		<p>
			<a href="https://www.lodgecastiron.com/">Lodge</a>
			— cast iron cookware
		</p>
		<ul>
			<li>
				<p>
					<a href="https://www.youtube.com/watch?v=NEQP94YbYFo">How America's Largest Cast Iron Pan Factory Makes Almost Two Million Pans per Month</a>
					— a delightful short documentary on the Lodge company, and their
					manufacturing operations.
				</p>
			</li>
		</ul>
	</li>
</ul>
