---
title: Check Out Martin Kimbell
date: 2016-05-12
wrapping: post
---

<p>I discovered
<a href="https://www.flickr.com/photos/kimbell/" target="_blank">Martin Kimbell</a>
thanks to an image search. Here's a beautiful light drawing. I think it might
have been done with an LED hula-hoop</p>

<a href="https://www.flickr.com/photos/kimbell/3251232824/in/album-72157612159225532/" target="_blank">
	<img class="full-width" src="martin-kimbell-lights-jumping-in-forest.jpg">
</a>

<p>Among his collection of long-exposure photographs and painting with light,
are a few stunning lissajous curve drawings. I really love these, so I post a
few of my favorites here.</p>

<div style="display:table; margin:-0.5em;">
	<div style="display:table-row">
		<div style="display:table-cell; padding:0.5em;"><a href="https://www.flickr.com/photos/kimbell/4279222228/in/album-72157612159225532/" target="_blank">
			<img class="full-width" src="martin-kimbell-4279222228.jpg"></a>
		</div>
		<div style="display:table-cell; padding:0.5em;"><a href="https://www.flickr.com/photos/kimbell/4095849702/in/album-72157612159225532/" target="_blank">
			<img class="full-width" src="martin-kimbell-4095849702.jpg"></a>
		</div>
	</div>

	<div style="display:table-row">
		<div style="display:table-cell; padding:0.5em;"><a href="https://www.flickr.com/photos/kimbell/4068588486/in/album-72157612159225532/" target="_blank">
			<img class="full-width" src="martin-kimbell-4068588486.jpg"></a>
		</div>
		<div style="display:table-cell; padding:0.5em;"><a href="https://www.flickr.com/photos/kimbell/4066761934/in/album-72157612159225532/" target="_blank">
			<img class="full-width" src="martin-kimbell-4066761934.jpg"></a>
		</div>
	</div>
</div>

<p>Nice work Martin! How did you do it? Pendulum?
<a href="https://en.wikipedia.org/wiki/Harmonograph" target="_blank">Harmonograph</a>?
</p>
