---
title: Tamalpais
date: 2019-12-31
wrapping: gallery
see-also: framed-prints
---

<p>These works depict trajectories of flight in and around Mount Tamalpais
State Park, and Muir Woods California, captured in December of 2019.</p>

<p>These videos are recorded with my
<a href="%{root}/blog/camera-comparisons/%{postfix}" target="_blank">new camera</a>
and recorded at 120fps. They are processed and played back at 24fps for slow
motion of 1/5th speed.</p>

<p>These video artworks are created from sequences of images, blended together
to reveal the motion of the subject. It's a technique inspired by
<a href="https://en.wikipedia.org/wiki/Chronophotography" target="_blank">Chronophotography</a>.
</p>

<h3>How it works</h3>

<p>The process begins by capturing a moving subject on video, using a camera on
a sturdy tripod. I then extract the individual frames from the video to produce
an image sequence. Then, with pixel-processing and computational techniques,
the frames are sequentially superimposed, to make a progression that reveals the
otherwise invisible tracks that the moving subjects leave behind.</p>

<ul>
<li><a href="https://gitlab.com/jeremysarchet/deanimation" target="_blank">Code and implementation</a></li>
</ul>

<h3>What's it all about?</h3>

<p>What I see in these trajectories are line drawings with a liveliness that
comes from directly tracing the physics of nature. The lines are abstract,
like that which a simulation or an algorithm might produce. At the same time
they are concrete, they are captured representations of physical subjects
following their own rich and complex paths through the real world.</p>

<p>It's as if, instead of doing the programming myself to make a composition,
I let nature do the programming and I arrange to capture and reveal it.</p>
