---
title: Springy Mobile
date: 2017-10-30
wrapping: post
---

<!--
Note on youtube embeds
https://developers.google.com/youtube/player_parameters#release_notes_08_23_2018
-->

<p>This sculpture is like a mobile, but with springs. The rods are all
interconnected and so they influence one another, setting up beautiful
undulations when you set the whole thing in motion. It is designed to be hung
from above so it can swing freely.</p>

<figure class="full-width">
<img src="2017-11-11-springy-mobile-portrait.jpg">
<figcaption><strong>Springy Mobile (2017)</strong><br>
Oak, bamboo and music wire<br>
24 x 24 x 12 inches</figcaption>
</figure>

<p>My favorite way to get this sculpture moving is to have the whole thing
swinging from its point of suspension. Then the rods, which are each balanced,
try and maintain their original horizontal orientation while the hoop is
banking and angling back and forth and around and around. The result is that
the rods develop a pivoting motion with respect to the stirring hoop and
everything comes alive.</p>

<video class="full-width" autoplay="" loop="" muted="" playsinline="" preload=""
src="254-loopable.mp4"
poster="254-poster-frame.png">
</video>

<p>Here’s a video which shows off the sculpture from multiple angles and
demonstrates a few different movement patterns:</p>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/6QKVenbTmkE?rel=0"
allowfullscreen="" frameborder="0">
</iframe></div>

<p>I also tell the story of the development of the original concept and
construction of a few prototypes in this video:</p>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/bdJVlubpa64?rel=0"
allowfullscreen="" frameborder="0">
</iframe></div>

<p>And in this last video you can see the making of the final sculpture:</p>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/7eHMu5iNcGc?rel=0"
allowfullscreen="" frameborder="0">
</iframe></div>

<p>The creation of this sculpture involved a lot of trial and error. In the end,
I think it came out well. And along the way I was able to make a few
discoveries that I intend to apply to upcoming sculptures.</p>
