---
title: Frame Making
date: 2018-11-20
wrapping: gallery
---

<p>This gallery shows the making of my handmade picture frames. They are custom
sized for my artworks, which I print myself. The design uses a distinct corner
joint which is super strong and which I find to be quite alluring. The frames
are finished with a conservation grade varnish which enables a frame package to
protect and showcase the artwork for years to come.</p>

<ul>
<li><a href="%{root}/deanimation/prints/%{postfix}">Single Edition Prints</a></li>
</ul>
