---
title: A New Plateau
date: 2020-12-08
description: Here's a song I wrote which has special meaning to me.
meta-image: 2020-12-09-15.19.35-a-new-plateau-web-poster.jpg
wrapping: post-no-thumbnails
---
<video class="full-width" src="2020-12-09-15.19.35-a-new-plateau-web.mp4" controls
poster="2020-12-09-15.19.35-a-new-plateau-web-poster.jpg"></video>

<figcaption>
  Key: Dm<br>
  Verse: Dm - Dm - F - G<br>
  Chorus: Am - F - Em - F
</figcaption>

<p>
  I've lost to another, somebody or other.<br>
  It comes down to a chance encounter.<br>
  I don't understand the games you play,<br>
  yet I come back to it day by day.<br>
</p>
<p>
  And I run back to the sea. I go<br>
  to find everything I used to know.<br>
  There's something in the breeze that blows,<br>
  out on the ridge in the afterglow.<br>
</p>
<p>
  You're alone on your own, you come back together.<br>
  Put a question to me: Will I ever<br>
  come to find my place, shoulder the weight?<br>
  Been a long time since I've seen your face.<br>
</p>
<p>
  And I know you cannot say I owe<br>
  you a chance to start and a place to grow.<br>
  As I walk along the shore below<br>
  the cliffs I knew from long ago.<br>
</p>
<p>
  We can find out, there's a reason to doubt<br>
  it's destined to fall apart. I'm asking<br>
  won't you think this through, you misconstrue.<br>
  There's a long mistake you need not make.<br>
</p>
<p>
  And it seems alright and even so,<br>
  it's out of your and my control.<br>
  As I stand upon a new plateau.<br>
  There's something there, can't let it go.<br>
</p>
<p>
  We can talk it over, we can talk it over, we can talk a<br>
  long long while. Don't think I will<br>
  take the long way round, avoid your town.<br>
  There's a question still unanswered there.<br>
</p>
