@font-face {
  /*
  https://google-webfonts-helper.herokuapp.com/fonts/libre-baskerville?subsets=latin
  https://stackoverflow.com/questions/11812111/font-face-url-pointing-to-local-file
  https://coderwall.com/p/v4uwyq/firefox-fontface-cross-domain-errors-workarounds
  */
  font-family: "Self Hosted Libre Baskerville";
  src: url("../fonts/LibreBaskerville-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia But Lighter";
  src: local("Georgia");
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica", sans-serif;
  /* font-family: "Georgia", serif; */
  background-color: #ddd;
  line-height: 1.6em;
  font-weight: 300;
  color: #444;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Self Hosted Libre Baskerville", "Georgia But Lighter", serif;
  /* font-family: "Trebuchet MS", sans-serif; */
}
h1, h2 {
  margin-top: 0em;
}
a {
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: green;
  font-weight: 400;
}
p:last-child {
  margin-bottom: 0;
}
#site-headline {
  color: #444;
  text-decoration: none;
  display: block;
  margin-bottom: 1em;
}
#site-headline:hover {
  text-decoration: none;
}
.listing {
  display: block;
  width: 100%;
  padding-left: 0;
  list-style: none;
  margin: 0;
  margin-bottom: calc(-1em - 8px);
}
.listing > li {
  display: inline-block;
  padding-bottom: 1em;
}
.listing-entry-area {
  display: table;
  width: 310px;
  padding-right: 1em;
}
.listing-thumbnail-area {
  padding-right: 1em;
  width: 1px;
  display: table-cell;
}
.listing-thumbnail {
  display: block;
}
.listing-thumbnail img {
  display: block;
}
.listing-label {
  display: table-cell;
}
.listing li div {
  vertical-align: top;
}
.navigation {
  padding-left: 0;
  margin: 0;
}
.navigation li {
  margin-right: 1em;
  margin-bottom: 1em;
  display:inline;
  list-style: none;
}
.navigation li:last-child {
  margin-bottom: 0;
}
.prev-next {
  font-weight: 400;
}
#content, #header, #footer, #jumps, #supplement, #gallery{
  min-width: 200px;
  background-color: #fff;
  border: 1px solid #bbb;
  padding: 2em;
  margin: 1em;
}
#content, #header, #footer, #jumps {
  max-width: 700px;
}
#supplement {
  display: table;
}
#framework-credit {
  margin-bottom: 0;
}
#see-all {
  display: block;
  margin-top: 1em;
}
body {
  margin: 0em;
}
.full-width {
  width: 100%;
  height: auto;
  display: block;
}
.partial-width-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  width: 100%;
  height: auto;
}
.column-half {
  float: left;
  width: 50%;
  padding: 0em 1em;
}
.column-half > * {
  width: 100%;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
time {
  font-size: 1.2em;
}
figure {
  margin: 0;
}
figure > * {
  display: block;
  width: 100%;
}
figcaption {
  font-size: 0.9em;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  line-height: 1.4em;
  border: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 1em;
}
blockquote {
  font-family: "Libre Baskerville", "Georgia", serif;
  font-style: italic;
  margin: 0;
  color: #555;
}
hr {
  border: 1px solid #888;
}
@media screen and (max-width: 450px) {
  .navigation li {
    display:block;
  }
  #content, #header, #footer, #jumps, #supplement, #gallery {
    padding: 1em;
    margin: 0.5em;
  }
  .column-half {
    float: left;
    width: 50%;
    padding: 0em 0.5em;
  }
}
.container-16-9 {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.container-16-9 > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
button {
  border: 1px solid;
  padding: 5px;
  margin: 5px;
}
