#gallery {
  max-width: 900px;
}
#topbar-and-gallery-content {
  display: table;
  width: 100%;
  height: 100%;
}
#topbar {
  display: table-row;
  height: 1px;
}
#title-and-layout-controls {
  display: table;
  width: 100%;
}
#gallery-title-area {
  vertical-align: top;
  display: table-cell;
  margin-top: 0;
  margin-bottom: 1em;
  display:table-cell;
}
#layout-controls {
  display: table-cell;
}
#toggle-sidebar-button, #fullscreen-button, #layout-button {
   float:right;
}
#gallery-content {
  display: table-row;
}
.artwork-item {
  width: 100%;
}
.artwork-item > img, .artwork-item > video {
  width: 100%;
  display: block;
}
#presentation-gallery {
  display: table;
  width: 100%;
  height: 100%;
  /* border-spacing: 1em; */
}
/* #presentation-area {
  display: table;
  height: 100%;
  border-spacing: 0em;
  width: 100%;
} */
#sidebar {
  /* background-color: rgba(0, 0, 255, 0.5); */
  display: table-cell;
  width: 20%;
  position: relative;
}
#thumbnail-area {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  padding-right: 0.5em;
  margin-right: 0.5em;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow-y: auto;
}
.thumbnail {
  width: 100%;
  display: block;
  margin-bottom: 0.5em;
  border: 3px solid white;
  cursor: pointer;
  border-radius: 5px;
}
.thumbnail:hover {
  /* border: 5px solid #666; */
  opacity: 0.8;
}
.active-thumbnail {
  border: 5px solid #bbb;
}
#viewer {
  display: table-cell;
  position: relative;
}
#navigation-area {
  position: absolute;
  display: block;
}
#title-area {
  float: left;
}
#controls-area {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: 0;
  display: table;
  float: right;
}
.gallery-button {
  cursor: pointer;
  border: none;
  margin-left: 1em;
  margin-bottom: 1em;
  border: 1px solid #bbb;
  background-color: #eee;
}
#previous-button, #next-button {
  display: table-cell;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  font-size: 1.5em;
}
#slide-indicator {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 80px;
}
#artwork-area {
  position: absolute;
  top: 0px;
  /* background-color: rgba(255, 0, 0, 0.5); */
  overflow-y: auto;
}
.artwork-item {
  padding-top: 1em;
  padding-bottom: 1em;
}
.artwork {
  width: 100%;
  display: block;
}
#description-area {
  position: absolute;
  left: 0px;
  overflow-y: auto;
  line-height: 1.2em;
}
.artwork-title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.description-paragraph {
  margin-top: 0;
  margin-bottom: 0;
}
