---
title: Meet Me at the Border Line
date: 2021-01-25
description: This is a song about a forbidden love.
meta-image: 2021-01-22-13.20.41-meet-me-at-the-border-line-web-poster.jpg
wrapping: post-no-thumbnails
---

<video
  controls
  class="full-width"
  src="2021-01-25-11.03.49.mp4-meet-me-at-the-border-line-web.mp4"
  poster="2021-01-25-11.03.49.mp4-meet-me-at-the-border-line-web-poster.jpg"
></video>

<figcaption>
  Key: E<br>
  Verse: A - E - B7 - E(7)<br>
  Chorus: A - C#m - G#m - B
</figcaption>

<p>
  I was thinking we would<br />
  get together, you could<br />
  meet me at the<br />
  border line.<br />
</p>
<p>
  You could be my sweetheart,<br />
  we would come to be hard<br />
  pressed to make it<br />
  home on time.<br />
</p>
<p>
  And I want to save just one daffodil from the springtime.<br />
  And you're gonna say we don't belong to the same side.<br />
  And you're gonna say we won't want to put on a disguise.<br />
  I don't, I won't, would you hear me out...<br />
</p>
<p>
  I can think of no one,<br />
  can you think of someone<br />
  who would put it<br />
  on the line?<br />
</p>
<p>
  Maybe it's a foregone <br />
  conclusion it's all wrong.<br />
  Certainly it<br />
  crossed my mind.<br />
</p>
<p>
  And I want to say I do believe it would be right<br />
  to come back together even if it's just for one night.<br />
  And you're gonna see just how we could run off and be fine.<br />
  We'll go, I know it'll be alright...<br />
</p>
<p>
  We could start a new life,<br />
  you and me, we just might<br />
  find a place a-<br />
  way from strife.<br />
</p>
<p>
  You could be my sweetheart,<br />
  a loving home would be ours.<br />
  We could build it<br />
  simple like.<br />
</p>
<p>
  And we wouldn't look back, there's nothing here for us today.<br />
  And we would start over, we would see it was ok.<br />
  And what do you say, I don't think we ought to delay.<br />
  We should, we could, be on our way...<br />
</p>
<p>
  I'll pick you a daisy,<br />
  you may think I'm crazy.<br />
  We'll see if it's<br />
  really so.<br />
</p>
<p>
  Yes, no, maybe,<br />
  skies are getting hazy.<br />
  Something we al-<br />
  ready know.<br />
</p>
<p>
  But we could go taste just one little bit of the good life.<br />
  And I'm pretty sure that there's no one else who could be mine,<br />
  'cause when we're together, you make me feel like the springtime.<br />
  We'll cover each other, me and you...<br />
</p>
