
<div id="supplement">
  <!-- <div id="feature" src="plot.html" width=825 height=645> -->
  <div id="feature" src="plot.html" width=825 height=645>
    %{feature}
  </div>

  <div id="fallback">
    <a href="./plot.html" target="_blank"><img class="full-width" src="feature-poster.png"></a>
    <br>
    <a href="./feature.html" target="_blank">&#9757; Click to open the full interactive version</a>
  </div>
</div>

<div id="content">
  <h2>%{title}</h2>
  <time>%{date}</time>
  %{content}
</div>
<div id="jumps">
  %{jumps}
</div>

<style>
  @media screen and (max-width: 750px) {
    #feature {
      display: none;
    }
  }
  @media not screen and (max-width: 750px) {
    #fallback {
      display: none;
    }
  }
</style>
