<ul class="navigation">
	<li><a target="_blank" href="https://www.youtube.com/user/jsarchet">Videos</a></li>
  <li><a href="%{root}/role-models/%{postfix}">Role Models</a></li>
</ul>
<p id="framework-credit">Built with <a target="_blank" href="https://gitlab.com/jeremysarchet/placeholder">
  Placeholder</a></p>
