<link rel="stylesheet" type="text/css" href="%{root}/styles/gallery.css">

<div id="topbar-and-gallery-content">

	<div id="topbar">
		<div id="title-and-layout-controls">
			<div id="gallery-title-area">
				<h2 id="gallery-title">%{title}</h2>
			</div>
			<div id="layout-controls">
				<button id="layout-button" class="gallery-button">Switch Layout</button>
				<button id="fullscreen-button" class="gallery-button">Fullscreen</button>
				<button id="toggle-sidebar-button" class="gallery-button">Hide Thumbnails</button>
			</div>
		</div>
	</div>

	<div id="gallery-content">
		<div id='scroll-gallery'>
			%{narrow-gallery}
		</div>
		<div id='presentation-gallery'>
			<div id="sidebar">
				<div id="thumbnail-area">
					%{thumbnails}
				</div>
			</div>
			<div id="viewer">
				<div id='navigation-area'>
					<div id="title-area">
						%{titles}
					</div>
					<div id="controls-area">
					</div>
				</div>
				<div id='artwork-area' data-aspect='%{aspect}' data-fraction='%{fraction}'>
					%{artworks}
				</div>
				<div id='description-area'>
					%{descriptions}
				</div>
			</div>
		</div>
	</div>

</div>

<script src="%{root}/scripts/gallery.js"></script>
