<ul class="navigation">
	<li><a href="%{root}/deanimation/%{postfix}">Deanimation</a></li>
	<li><a href="%{root}/kinetic-sculpture/%{postfix}">Kinetic Sculpture</a></li>
	<li><a href="%{root}/floating-compression/%{postfix}">Floating Compression</a></li>
	<li><a href="%{root}/blog/%{postfix}">Blog</a></li>
	<li><a href="%{root}/about/%{postfix}">About</a></li>
	<li><a href="%{root}/contact/%{postfix}">Contact</a></li>
</ul>
