<ul>
 	<li>Logographic camera</li>
 	<li>Spoolbot</li>
 	<li>Paper falling</li>
 	<li>Minsky hands</li>
 	<li>Bird traces</li>
 	<li>Look up snow flakes trace video</li>
 	<li>Light play</li>
 	<li>Wooden helix toy</li>
 	<li>Baseball seams hilbert curve (like the 1988 calendar)</li>
 	<li>oscilloscope screen, vibrating/deflected rod, laser on phosphor sheet or backlit paper screen, long exposure camera,&nbsp;photographic paper in a dark room!</li>
 	<li>IMU "throwie" that makes sound from orientation</li>
 	<li>sol lewitt - variations on an incomplete open &lt;platonic solid&gt;</li>
 	<li>Traces of water waves, like:&nbsp;https://en.wikipedia.org/wiki/File:Orbital_wave_motion-Wiegel_Johnson_ICCE_1950_Fig_6.png</li>
 	<li>pencil sculpture with dodecahedral symmetry</li>
 	<li>hole punch plotter</li>
 	<li>evolutionary poetry, "crowdsource Shakespeare" evolving letters phonemes subject to a human thumbs up/down human function. If god is in humans' perception of nature, then humans need to do the fitness function. How to get rid of fitness function? Creatures that move best from a to b: easy. How about mating? One creature evaluating another for fitness?</li>
 	<li>planar pendulum</li>
 	<li>photobooth which prints out photo as a perforated page (punxo)</li>
 	<li>ice helix</li>
 	<li><span style="font-weight: 400;">a "printer" which prints text documents by literally cutting and pasting newspaper clippings onto a sheet.</span></li>
 	<li><span style="font-weight: 400;">Clapping palm frond sculpture</span></li>
 	<li><span style="font-weight: 400;">Poem in which every subsequent word deviates from the previou</span><span style="font-weight: 400;">s</span></li>
 	<li><span style="font-weight: 400;">poem in which words are “misspelled” by presuming it is misspelled (or manually applying a mis-spelling) and then choosing the next best word (auto-correct poems)</span></li>
 	<li>poems/texts in which homophones are swapped&nbsp;http://www-01.sil.org/linguistics/wordlists/english/homophones/homophones103.txt</li>
 	<li>procedural: water flowing through constriction, gas molecules bounding around and off each other, not just like pool, but like antigravitation, lightning, an arc finding its meandering crooked path through the air towards a destination</li>
</ul>
<h3>Posts:</h3>
<ul>
 	<li>Beaver heuristic</li>
 	<li>Ants on stilts:&nbsp;http://news.nationalgeographic.com/news/2006/06/060629-ants-stilts.html</li>
</ul>
<h3>Philosophy:</h3>
<ul>
 	<li>Orville’s second rule, “evolution is cleverer than you are” post-intelligent design. https://www.youtube.com/watch?v=AZX6awZq5Z0#t=58m</li>
 	<li>genetic algorithms</li>
 	<li>Tracing was always discouraged in art class growing up. So naturally this became my strongest interest.</li>
</ul>
<h3>Possible names of future works/shows:</h3>
<ul>
 	<li>"Study hard"</li>
 	<li>"Lets pretend this is a work of art"</li>
 	<li>"The more you look, the more you see"</li>
</ul>
