---
title: Where the Buffalo is
date: 2021-07-29
description: This is a song inspired by the book "Empire of the Summer Moon" by S. C. Gwynne.
meta-image: 2021-01-22-13.20.41-meet-me-at-the-border-line-web-poster.jpg
wrapping: post-no-thumbnails
---

<video
  controls
  class="full-width"
  src="2021-07-29-07.59.35.mp4-where-the-buffalo-is-web.mp4"
  poster="2021-07-29-07.59.35.mp4-where-the-buffalo-is-web-poster.jpg"
></video>

<figcaption>
  Key: C#<br>
  C# - F# - G# - C#<br>
</figcaption>

<p>
  Break another colt and take him up the ridge.<br />
  Take another soul, there's no other way to live.<br />
  We can fight it out, there's nothing to forgive,<br />
  and we can go down yon where the buffalo is.<br />
</p>
<p>
  It's the new sensation,<br />
  your domestication.<br />
  Distant memories of<br />
  striding without liberation.<br />
</p>
<p>
  I was lost without you.<br />
  We found out but not too<br />
  soon. A new day's begun.<br />
  I knew not what we could outrun<br />
</p>
<p>
  Out beyond the limits<br />
  lies a different spirit,<br />
  under no illusions,<br />
  striving without resolution.<br />
</p>
<p>
  I've believed the magic.<br />
  It's not far from tragic.<br />
  All the world is breaking.<br />
  What we hold is for the taking.<br />
</p>
<p>
  It's already over.<br />
  Out of many one, or<br />
  many more. It's all won.<br />
  I knew not how we were outgunned.<br />
</p>
<p>
  Who thought we could beat 'em?<br />
  We weren't far from freedom<br />
  from the institutions' bind,<br />
  and those who didn't mind.<br />
</p>
<p>
  Take another soul and hang him from the bridge.<br />
  Holster up your Colt, there's no other way to live.<br />
  We can take em out, there's nothing left to give.<br />
  And we can go down yon where the buffalo is.<br />
</p>
