---
title: Make A Ripple
date: 2017-12-19
wrapping: post
---

<!--
Note on youtube embeds
https://developers.google.com/youtube/player_parameters#release_notes_08_23_2018
-->

<p>This sculpture follows a simple rule: every element can affect its neighbors.</p>

<video class="full-width" autoplay="" loop="" muted="" playsinline="" preload=""
src="2017-12-06-splash-video-cropped-web-low-br.mp4"
poster="2017-12-06-splash-video-poster-web.png">
Looks like your browser can't play this video :-(
</video>

<p>And in turn, those neighbors can effect <em>their</em> neighbors.
And of course every element can also <em>be affected by</em> its neighbors.
And so on. The result is that a movement which starts in one place will spread
outward to other places.</p>

<figure>
<img class="full-width" src="2018-01-03-mar-portrait-perspective-corrected-web-full.jpg">
<figcaption>
<strong>Make a Ripple (2017)</strong><br>
96" x 60" x 10"<br>
Spruce, oak, and birch<br>
Machine screws, carbon steel rods, spring wire<br>
Acrylic and enamel paints<br>
<br>
Commissioned for Ripple Foods of Berkeley, CA
</figcaption>
</figure>

<p>There are sixty rods that can each pivot and move around. They are each
supported by a two-dimensional lattice, and their mounts allow them to swivel
thanks to a kind of universal joint. Each rod is connected to its neighbors
with a set of handmade springs. The springs unite the rods, serving as a common
basis for interaction. It is the network of springs which serves as the medium
that can transmit a movement and allow it to propagate outward as a wave. In
this way, the whole arrangement is a manifestation of the ripple effect.</p>

<h2>Demonstration</h2>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/a7WioS5Dzag?rel=0"
allowfullscreen="" frameborder="0">
</iframe>
</div>
<br>

<h2>The making of:</h2>

<p>To see how it was designed and built, take a look at this multi-part video
series. There are 11 parts, and each part is approximately 10 minutes long. I
take you through the project from start to finish, from initial brainstorming,
to mounting it on the wall with my signature and a handsome plaque.</p>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/QaJDtyUtXgU?rel=0"
allowfullscreen="" frameborder="0">
</iframe></div><br>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/eZmFyXK4tPI?rel=0"
allowfullscreen="" frameborder="0">
</iframe></div><br>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/HgyhgPl6B1E?rel=0"
allowfullscreen="" frameborder="0">
</iframe></div><br>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/5zCSCJp9eME?rel=0"
allowfullscreen="" frameborder="0">
</iframe></div><br>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/PVG1nq20eLU?rel=0"
allowfullscreen="" frameborder="0">
</iframe></div><br>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/Z_PRMKFQbCo?rel=0"
allowfullscreen="" frameborder="0">
</iframe></div><br>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/9mepIAF2oPk?rel=0"
allowfullscreen="" frameborder="0">
</iframe></div><br>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/2Rjx0fp1dMg?rel=0"
allowfullscreen="" frameborder="0">
</iframe></div><br>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/HweIrswv6-s?rel=0"
allowfullscreen="" frameborder="0">
</iframe></div><br>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/0dgXJcT32cw?rel=0"
allowfullscreen="" frameborder="0">
</iframe></div><br>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/mxwi_4fbywg?rel=0"
allowfullscreen="" frameborder="0">
</iframe></div><br>
