body {
  font-family: "Helvetica", sans-serif;
  background-color: #ddd;
  line-height: 1.6em;
  font-weight: 300;
  color: #444;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Libre Baskerville", "Georgia", serif;
}
#content {
  background: white;
  border: 1px solid #bbb;
  width: 800px;
  height: 600px;
  min-width: 600px;
  min-height: 400px;
  resize: both;
  overflow: auto;
}
#full-gallery {
  display: table;
  height: 100%;
  width: 100%;
  background: white;
  border-spacing: 1em;
}
#topbar {
  display: table-row;
  height: 1px;
}
#gallery-title {
  margin: 0;
  display:inline-block;
}
#toggle-sidebar-button, #fullscreen-button {
   float:right;
}
#sidebar-and-viewer {
  display: table;
  height: 100%;
  border-spacing: 0em;
  width: 100%;
}
#sidebar {
  display: table-cell;
  width: 25%;
  position: relative;
}
#thumbnails {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  margin: auto;
  padding-right: 0.5em;
  margin-right: 0.5em;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow-y: auto;
}
.thumbnail {
  width: 100%;
  display: block;
  margin-bottom: 0.5em;
}
#viewer {
  display: table-cell;
  position: relative;
}
#artwork-area {
  position: absolute;
  top: 0px;
}
#controls {
  left: 0px;
  position: absolute;
  font-size: 1.25em;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#description {
  left: 0px;
  position: absolute;
  overflow-y: auto;
  line-height: 1.2em;
}
#artwork-title {
  margin: 0;
}
#artwork-area > img {
  width: 100%;
  height: 100%;
  top: 0px;
}
#artwork-area > video {
  width: 100%;
  height: 100%;
}
