---
title: Say yah to da U.P., eh!
date: 2020-09-14
description: Here's a song I wrote, which is based on a true story.
meta-image: 2020-09-14-up-eh-meta.jpg
wrapping: post-no-thumbnails
---
<p>This song is based on a true story.</p>

<video class="full-width" src="2020-09-14-17.00.32-up-eh-web.mp4" controls
poster="2020-09-14-up-eh-web-poster.png"></video>

<figcaption>
  Key: C<br>
  Verse: C - F - C - F<br>
  Chorus: C - Am - D - G
</figcaption>

<p>
  I was lost in concentration,<br>
  think I needed a vacation.<br>
  While I dreamt of destinations,<br>
  something took me by surprise.<br>
</p>
<p>
  On a car parked down the street,<br>
  on a sticker on the bumper,<br>
  was a captivating message.<br>
  Couldn't get it off my mind, and it read:<br>
</p>
<p>
  Say yah to da U.P., eh! Say yah to da U.P., eh!<br>
  Say yah to da U.P., eh! Say yah to da U.P., eh!<br>
</p>
<p>
  U.P. eh, you don't say.<br>
  I know a place that's not too far away,<br>
  where the water's cold and the skies are grey.<br>
  We could pretend that things will go our way,<br>
  Won't you come with me to the U.P., eh?<br>
</p>
<p>
  Every day I passed that car,<br>
  and my mind would take me back there.<br>
  Was a fixture of the neighborhood,<br>
  Thought about it all the time.<br>
</p>
<p>
  It's a simple affirmation.<br>
  Something in me would awaken,<br>
  when I contemplated its allure.<br>
  Couldn't get it off my mind, and it said:<br>
</p>
<p>
  Say yah to da U.P., eh! Say yah to da U.P., eh!<br>
  Say yah to da U.P., eh! Say yah to da U.P., eh!<br>
</p>
<p>
  U.P. eh, a-ok.<br>
  There's nothing you or I can do or say,<br>
  to change the past, what happened yesterday.<br>
  But we can reinterpret, for the resumé.<br>
  Won't you come with me to the U.P., eh?<br>
</p>
<p>
  Then one night as I was sleeping,<br>
  heard a crash, thought I was dreaming.<br>
  But the next morning, on the corner <br>
  the very car was smashed.<br>
</p>
<p>
  This intersection is a danger,<br>
  You can get hit by a stranger.<br>
  It was innocently parked nearby,<br>
  And totaled in a flash, and it said:<br>
</p>
<p>
  Say yah to da U.P., eh! Say yah to da U.P., eh!<br>
  Say yah to da U.P., eh! Say yah to da U.P., eh!<br>
</p>
<p>
  U.P., eh, by the bay.<br>
  Where the trees are tall and the fields are full of hay.<br>
  Don't be believing everything they say.<br>
  What's done is done, let's plan our getaway.<br>
  Won't you come with me to the U.P., eh?<br>
</p>
<p>
  I'm still lost in concentration,<br>
  but I remember, on occasion.<br>
  That slogan on a sticker,<br>
  and the promise of a place.<br>
</p>
<p>
  I saw the car no more,<br>
  it was gone without a trace.<br>
  Did it make it back to paradise,<br>
  to its home, to the U.P. eh?<br>
</p>
<p>
  U.P., eh, come and stay.<br>
  Where the winter's long, we take it day by day.<br>
  There's more to here than that which words convey.<br>
  Let's pack our bags and go without delay.<br>
  Won't you come with me to the U.P.-<br>
</p>
<p>
  Say yah to da U.P., eh! Say yah to da U.P., eh!<br>
  Say yah to da U.P., eh! Say yah to da U.P., eh!<br>
</p>
<p>
  Say yah to da U.P., eh! Say yah to da U.P., eh!<br>
  Say yah to da U.P., eh! Say yah to da U.P., eh!<br>
</p>

<a target="_blank" href="https://www.michiganology.com/products/say-yah-to-da-u-p-eh-1">
  <image class="full-width" src="up-eh-sticker.png"></image>
</a>

<blockquote>
  A popular bumper sticker, a parody of the "Say YES to Michigan" slogan
  promoted by state tourism officials, shows an outline of the Upper
  Peninsula and the slogan, "Say ya to da UP, eh!"
<a target="_blank" href="https://en.wikipedia.org/wiki/Upper_Peninsula_of_Michigan">
    - Wikipedia
</a>
</blockquote>
