---
title: SCIART 2012
date: 2012-11-15
wrapping: post
---

<p>I was invited by Jean-Pierre Hébert to take part in the SciArt 2012 group
  show "Mysterious", alongside himself, Tatiana Ginsberg, Vera Molnar, and Ethan
  Turpin, with a panel discussion on opening night led by Peter Frank.</p>

<img class="full-width" src="sciart-2012-panel-discussion.png">

<p>The exhibition is hosted by the Kavli Institute for Theoretical Physics at
  UCSB, where Jean-Pierre is artist-in-residence. Over the years, he has
  organized many such shows there, in the lovely second-floor gallery, giving
  artists and scientists a good occasion to come together.</p>

<p>I showed my piece: <em>A Tree Vibrates </em>(2012). Here is a
  <a href="%{root}/blog/a-tree-vibrates/%{postfix}" target="_blank">post</a>
  on that piece.</p>

<p>As my first art show, this was a special event for me. Thank you Jean-Pierre
  and KITP for inviting me to take part 🙂</p>

<p>Here's the official
  <a href="https://www.kitp.ucsb.edu/outreach/chalk-talks/sciart-2012-
  mysterious-artists-discussion-peter-frank"
  target="_blank">event page</a>
  , and below is linked a nice article on the event by Charles Donelan.</p>

<figcaption>The Santa Barbara Independent,
  <a href="http://www.independent.com/news/2012/dec/04/sciart-2012-mysterious/"
  target="_blank">SciArt 2012 Mysterious</a>
  <br>(December 4th, 2012)</figcaption>
