---
title: Power Pendulum
date: 2013-06-14
wrapping: post
---

<p>The desert isn’t lifeless.</p>

<img class="full-width" src="2013-06-14-self-portrait-under-power-tower.jpg">

<p>Even if there’s none to be measured (in 2003 researchers used Nasa’s
scientific techniques to detect life in the heart of the Atacama Desert
<a href="https://en.wikipedia.org/wiki/Atacama_Desert#Comparison_to_Mars" target="_blank">and found none</a>)
when you go and visit you bring your own life with you.</p>

<p>I’ve come to Chile on a business trip for my day job. After finishing the
business, according to plan I went out to see the land.</p>

<p>Today I've rented a car, bought a few gallons of water, some groceries, and
some last-minute long underwear (it may be cold there, I think, on the desert
plateau). I began driving inland this afternoon. Now the sun is down and I’m
halfway across the country, which isn't very far to have come considering Chile
is pretty narrow East to West.</p>

<p>In my mind, a good road trip involves camping out. So, when I get tired of
driving I find a peaceful spot and pull off of highway 24. I'm at an electrical
substation, the lights are on but nobody's here. Good for camping. I think
probably nobody will pass through here at night. I mean, from the looks of
things this is a remote-controlled setup, there's probably nobody coming here
during the daytime either.</p>

<p>So, in one sense I'm staying off the grid tonight. In another sense, I'm
closer to the grid than ever.</p>

<p>According to my research, this place is called <em>Subestación La Cruz</em>,
located -22.279427 degrees south, -69.659280 degrees west, 1,155 meters
elevation, and 220,000 volts. Wow!</p>

<h4>Here it is on the globe:</h4>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d790.9819055891015!2d-69.6597761097575!3d-22.279150935262376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjLCsDE2JzQ1LjkiUyA2OcKwMzknMzMuNCJX!5e1!3m2!1sen!2sus!4v1465004071649" width="100%" height="400px" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

<p>On the globe, this place is just west of the famous Pan-American highway, so
I feel a proud connection with the Americas. From here, I could drive all the
way to the extremes of the continents. But right now, I'm right where I want to
be.</p>

<h4>Here it is on the grid:</h4>

<figure>
	<img class="full-width" src="map-SING.png">
<figcaption>
	Source: <a href="https://www.coordinador.cl/" target="_blank">CDEC SING</a>
</figcaption>
</figure>

<p>On the grid, I'm downstream of the coastal coal power plant <em>Norgener</em>,
and just upstream of one of the main nodes, <em>Crucero</em>.</p>

<p>This particular branch of power transmission flows east into the interior,
same direction I will travel tomorrow.</p>

<h4>Here it is on the circuit:</h4>

<figure>
	<img class="full-width" src="diagram-SING.png">
<figcaption>
	Source: <a href="http://www.bienesnacionales.cl/wp-content/uploads/2012/09/Impacto-E%C3%B3lico-SING_GTD-Informe-Final-Febrero-2010.pdf" target="_blank">GTD Ingenieria</a>
</figcaption>
</figure>

<p>On the circuit, this place is at a high electric potential, and right in the
mainstream. In one sense, <em>La Cruz,</em> is not the best connected
substation – if this was a social network, it only has three friends. On the
other hand, in a Zen sense, (where there is no difference between self and
other), everything is connected. Of course it is, electrical continuity is
implied in any circuit.</p>

<p>And in a biological sense, I'm happily disconnected from the high voltage.
Thanks insulators! I wouldn't want to connect with this circuit.</p>

<p>Instead, I'm out on foot, studying the premises with my trusty
<a href="https://en.wikipedia.org/wiki/Canon_EOS_550D" target="_blank">camera</a>
and
<a href="http://www.industrialrev.com/ultrapod-ii.html" target="_blank">six-inch tripod</a>.
The night air is still and chill. I can hear the soft crunch of the dusty ground
under my feet and the deep hum of the alternating current vibrating the
structures above.</p>

<p>I'm captivated by the wildly functional architecture. Sodium vapor lamps
illuminate the pieces of electrical apparatus with a soft yellow ochre, the
same color of the desert earth by day. Hey, I say, this is just like a
<a href="https://en.wikipedia.org/wiki/Constructivism_(art)" target="_blank">Constructivist</a>
work from the art history textbooks.</p>

<a href="https://jeremysarchet.smugmug.com/Road-trip-in-the-atacama/Readymade-sculptures/i-8BxN7Dz" target="_blank">
	<img class="full-width" src="2013-06-14-three-phase-electrical-structures.jpg" alt="Three phase electrical structures">
</a>

<p>I contemplate the supposed journey of this electrical energy. Back at the
coast, enormous waves are set in motion by a massive, rotating generator, they
march across maybe hundreds of kilometers of wire, and a mere fraction of a
second later (transmission speed is close to the
<a href="http://www.allaboutcircuits.com/textbook/alternating-current/chpt-14/circuits-and-the-speed-of-light/" target="_blank">speed of light</a>)
the waves sink and dissipate back into the ground, hopefully having done some
useful work with some machine for the customer before disappearing as quickly
as they came.</p>

<p>I think about each hapless electron along the way, swinging back and forth,
always seeking to restore equilibrium. This of course, reminds me of pendulums,
and I think, hey, I've got a small toolkit with me, let me construct a
pendulum!</p>

<p>The tall power tower which joins the substation to the transmission lines
provides the perfect mount. I have a length of thin cord and a small headlamp,
and there it is, a swinging light pendulum, ready to make photographic
drawings. I've found a good project. Now I must pursue it.</p>

<p>The plain pendulum doesn't seem interesting enough on camera, so partway up
the cord, I tie a counterweight – an old galvanized hex nut taken from the
ground, likely left over from this tower's construction. So now it's a double
pendulum, and its curves are much more complex.</p>

<p>I feel the thrill of discovery and spend the next few hours experimenting
with the device. I adjust the length of each segment of cord, the viewpoint of
the camera, and the launch of the pendulum. There are many good techniques:
tossing, spinning, swinging, slinging, dropping, throwing, pushing, pitching.
Each time running back and forth from the camera to start a new exposure. To
give you an idea of the event, here's a photo gallery from
<a href="https://jeremysarchet.smugmug.com/Power-Pendulum-behind-the/" target="_blank">behind the scenes</a>.</p>

<p>I go on like this for a while, and on my camera's preview screen, I start to
see many good drawings and a few great ones. So now that I'm happy with the
result, the cold starts to get to me, and I untie the pendulum, collect my
things and enter my little rental car to run the heater for a while then head
to sleep.</p>

<p>In theory, the long underwear helped a little bit to keep me warm that
night, but it didn't feel that helpful. I think it was easily overpowered by
the cold. Three days later, at the end of my road trip, back to the warmth of
the coast, I tear it into pieces for rags which I use with my remaining water
to clean a whole lot of desert dust off of this car in hopes of avoiding a
cleaning fee.</p>

<figcaption><strong>Power Pendulum (2013)</strong><br>
Light drawings with double pendulum and transmission tower.</figcaption>

<img class="full-width" src="2013-06-14-power-pendulum-3.jpg"><br>
<img class="full-width" src="2013-06-14-power-pendulum-4.jpg"><br>
<img class="full-width" src="2013-06-14-power-pendulum-5.jpg"><br>
<img class="full-width" src="2013-06-14-power-pendulum-6.jpg">
