---
title: "Framed Prints"
date: 2018-12-14
wrapping: lone-gallery
---

<p>This collection of prints reveals movement in and around the Tuolumne
River in Yosemite, California in 2017. The subjects are bubbles, pine needles
and other floating forest debris, projectile water droplets, and other flying
things.</p>

<p>Each work is a unique print (edition of 1) framed in an archival frame
package, and ready to hang. I print the prints and make the frames and frame
the works myself in my studio.</p>

<ul>
<li><a href="%{root}/deanimation/tuolumne/%{postfix}">The videos behind these prints</a></li>
<li><a href="%{root}/blog/frame-making/%{postfix}">Making the frames</a></li>
</ul>

<p>There are mysterious things out there waiting to be seen, hidden from the
naked eye. With determination, careful technique, and a bit of luck I try to
reveal them. Sometimes the resulting compositions are esoteric. Sometimes they
appeal to our human affections. What we might take for a mundane scene, can
turn out to be full of spirit and life.</p>

<p>These prints are part of my line of work, <a href="%{root}/deanimation/%{postfix}">Deanimation</a>.
