---
title: Lights On A Kite
date: 2015-10-17
wrapping: post
---

<p>Savina and I had been contemplating "lights on a kite" for some time, and
  tonight we took a trip to
  <a href="http://www.ci.berkeley.ca.us/Parks_Rec_Waterfront/Trees_Parks/
  Cesar_Chavez_Park.aspx">Cesar Chavez</a>
  park to test the concept. We used
  <a href="http://www.rtgsproducts.com/store/p25/Rtgs_Micro_LED_30_Super_
  Bright_Warm_White_Color_Indoor_and_Outdoor_String_Lights_Battery_Operated_
  on_10_ft_Long_Silver_Color_Ultra_Thin_String_Wire_with_Timer.html"
  target="_blank" >a battery powered strand of tiny LEDs</a>
  attached as a tail to our
  <a href="https://en.wikipedia.org/wiki/Sport_kite"
  target="_blank" >two-line-stunt-kite</a>.
  While the one of us was piloting, the other was running around, fielding
  grounded kites and pointing and shooting the camera.</p>

<img class="full-width" src="lights-on-a-kite-1.jpg"><br>
<img class="full-width" src="lights-on-a-kite-2.jpg"><br>
<img class="full-width" src="lights-on-a-kite-6.jpg"><br>
<img class="full-width" src="lights-on-a-kite-12.jpg"><br>
<img class="full-width" src="lights-on-a-kite-16.jpg"><br>
<img class="full-width" src="lights-on-a-kite-20.jpg">
