---
title: Phonemic Tercets
date: 2017-01-02
wrapping: post
---

<p>This is a kind of two word poem. The concept has been stuck in my head for
a long while, and I can't help but think up new ones spontaneously as I
go through daily life.</p>

<figure class="partial-width-centered">
<a href="https://en.wikipedia.org/wiki/Thuja_plicata#/media/File:Thuja_plicata_43569.JPG" target="_blank">
  <img class="full-width" src="thuja-plicata.jpg"></a>
<figcaption>
  Cedar seed
</figcaption>
</figure>

<p>They are poems which consist of arrangements of two words, but in reality
they are based on arrangements of the sounds within those words.</p>

<figcaption>
<b>The recipe:</b>
<ul>
<li>A <em>phoneme</em> is a unit of pronunciation, or a single sound within a
  word.</li>
<li>A <em>tercet</em> is a group of three lines of verse, or three units of
  poetry.</li>
</ul>

<p>Each poem consists of two words, and can have one of the following phoneme
patterns within the words:</p>

<ul>
<li>A AB</li>
<li>AB B</li>
<li>AB A</li>
<li>A BA</li>
</ul>

<p>In these patterns, A and B can each represent a given sequence of
one or more phonemes.</p>

</figcaption>

<p>So what you have is one word which consists of a series of sounds, and the
other word which contains that same series of sounds within. When the two words
are put together, you get the poetic repetition.</p>

<p>Part of the magic is discovering that the sounds that make up a longer word
can contain a different, smaller word within.</p>

<hr>

<ul>
  <li>Air heiress</li>
  <li>Alpine pine</li>
  <li>Already ready</li>
  <li>Amazing zing</li>
  <li>Apparel peril</li>
  <li>Ark architect</li>
  <li>Arrow row</li>
  <li>Art article</li>
  <li>Artistic tic</li>
  <li>Ass assist</li>
  <li>Badger badge</li>
  <li>Barbecue queue</li>
  <li>Bass basket</li>
  <li>Bay bacon</li>
  <li>Bazaar czar</li>
  <li>Better bet</li>
  <li>Bold boulder</li>
  <li>Bone bonus</li>
  <li>Boring ring</li>
  <li>Brick rubrick</li>
  <li>Broke broker</li>
  <li>Buff buffalo</li>
  <li>Building bill</li>
  <li>Bull stable</li>
  <li>Bull table</li>
  <li>Bunny knee</li>
  <li>Cabbage badge</li>
  <li>Camping ping</li>
  <li>Capsciacin sin</li>
  <li>Cedar seed</li>
  <li>Ceiling seal</li>
  <li>Change exchange</li>
  <li>Chill children</li>
  <li>City diversity</li>
  <li>Clam clamor</li>
  <li>Concentric trick</li>
  <li>Coney balcony</li>
  <li>Confused fuse</li>
  <li>Content tent</li>
  <li>Cup checkup</li>
  <li>Curds occurred</li>
  <li>Dairy dare</li>
  <li>Daisy days</li>
  <li>Diction addition</li>
  <li>Dinner din</li>
  <li>Diver diversity</li>
  <li>Donkey key</li>
  <li>Drum conundrum</li>
  <li>Duh Panda</li>
  <li>Dull needle</li>
  <li>Dull paddle</li>
  <li>Dull riddle</li>
  <li>Eel allele</li>
  <li>Either eye</li>
  <li>Electric trick</li>
  <li>Entire tire</li>
  <li>Entrance trance</li>
  <li>Epic pic</li>
  <li>Erase race</li>
  <li>Fair pharoh</li>
  <li>Far pharmacy</li>
  <li>Fast breakfast</li>
  <li>Fold manifold</li>
  <li>Forward ward</li>
  <li>Full fulcrum</li>
  <li>Full waffle</li>
  <li>Fun funicular</li>
  <li>Funk function</li>
  <li>Fur offer</li>
  <li>Fur transfer</li>
  <li>Fusion confusion</li>
  <li>Gator gate</li>
  <li>Ginger gin</li>
  <li>Go amigo</li>
  <li>Gorey allegory</li>
  <li>Granite pomegranate</li>
  <li>Gravity tea</li>
  <li>Gull angle</li>
  <li>Ham hammer</li>
  <li>Ideal deal</li>
  <li>Igloo loo</li>
  <li>Jacket kit</li>
  <li>Japan pan</li>
  <li>Juror conjuror </li>
  <li>Kitch kitchen</li>
  <li>Kitchen kit</li>
  <li>Ladder lad</li>
  <li>Lewd interlude</li>
  <li>Lichen lie</li>
  <li>Light delight</li>
  <li>Lisbon bin</li>
  <li>Lobster lob</li>
  <li>Low below</li>
  <li>Low location</li>
  <li>Low pillow</li>
  <li>Mad madam</li>
  <li>Man manifold</li>
  <li>Manure man</li>
  <li>Masquerade raid</li>
  <li>Matrix tricks</li>
  <li>Meaner demeanor</li>
  <li>Mechanical nickel</li>
  <li>Menorca orca</li>
  <li>Mere meerkat</li>
  <li>Millet mill</li>
  <li>Minimalist list</li>
  <li>Mint condiment</li>
  <li>Moccasin sin</li>
  <li>Mountain tin</li>
  <li>Mute mutiny</li>
  <li>Near engineer</li>
  <li>New canoe</li>
  <li>New nuance</li>
  <li>New nutrition</li>
  <li>Nile denial</li>
  <li>Odd audio</li>
  <li>Odd audit</li>
  <li>Oil turmoil</li>
  <li>Old manifold</li>
  <li>Open pen</li>
  <li>Paris pair</li>
  <li>Parrot pair</li>
  <li>Peak speak</li>
  <li>Pear parachute</li>
  <li>Pewter computer</li>
  <li>Phony phone</li>
  <li>Photography fee</li>
  <li>Pig pigment</li>
  <li>Pinyon opinion</li>
  <li>Planter plan</li>
  <li>Plastic tic</li>
  <li>Plier multiplier</li>
  <li>Police lease</li>
  <li>Poor report</li>
  <li>Port report</li>
  <li>Pour rapport</li>
  <li>Problematic attic</li>
  <li>Proper prop</li>
  <li>Psychopath path</li>
  <li>Rad comrade</li>
  <li>Raisin raise</li>
  <li>Ray array</li>
  <li>Remote mote</li>
  <li>Reverse verse</li>
  <li>Ring covering</li>
  <li>Rock rocket</li>
  <li>Salad lad</li>
  <li>Satisfactory factory</li>
  <li>Seat conceit</li>
  <li>Seat deceit</li>
  <li>Secondary dairy</li>
  <li>Secure cure</li>
  <li>Shin mission</li>
  <li>Silicone cone</li>
  <li>Single gull</li>
  <li>Smoking king</li>
  <li>Soccer sock</li>
  <li>Solid lid</li>
  <li>Stable bull</li>
  <li>Standard stand</li>
  <li>Stem system</li>
  <li>Storage rage</li>
  <li>Strict district</li>
  <li>Struck structure</li>
  <li>Sublime lime</li>
  <li>Suit pursuit</li>
  <li>Summit mitt</li>
  <li>Sure treasure</li>
  <li>Tack attack</li>
  <li>Tan curtain</li>
  <li>Tan spartan</li>
  <li>Taxi tax</li>
  <li>Tea party</li>
  <li>Teenage tea</li>
  <li>Tent content</li>
  <li>Tent patent</li>
  <li>Tern intern</li>
  <li>Test protest</li>
  <li>This thistle</li>
  <li>Tick tickets</li>
  <li>Tiny mutiny</li>
  <li>Tire ire</li>
  <li>Tourist wrist</li>
  <li>Transistor sister</li>
  <li>Transmission mission</li>
  <li>Tribe diatribe</li>
  <li>Trinket kit</li>
  <li>Troll control</li>
  <li>Trucking king</li>
  <li>Vent event</li>
  <li>Vice advice</li>
  <li>Western tern</li>
  <li>Wholesome sum</li>
  <li>Wind window</li>
  <li>Winter win</li>
  <li>Wooden den</li>
  <li>Wool towel</li>
  <li>Yellow low</li>
</ul>
