---
title: Rhomboid
date: 2019-13-15
wrapping: post
---

<!--
Note on youtube embeds
https://developers.google.com/youtube/player_parameters#release_notes_08_23_2018
-->

<p>This sculpture is a polyhedral linkage with accurate articulation.</p>

<figure class="full-width">
<img src="2019-02-06-rhomboid.jpg">
<figcaption><strong>Rhomboid (2018)</strong><br>
Fir, bamboo, zinc, steel, brass, red acrylic paint<br>
9 x 9 x 9 inches</figcaption>
</figure>

<p>You probably already know of the two-dimensional shape known as the rhombus,
or parallelogram. In a rhombus, opposite edges remain parallel. Well, can you
imagine the three-dimensional version of a rhombus? In the three-dimensional
case it would be opposite planes that remain parallel! In fact, this shape is
known to mathematics. It goes by the name rhomboid, rhombohedron, or
parallelepiped. That’s the underlying idea for this sculpture, an embodiment of
of a rhomboid.</p>

<div class="container-16-9">
<iframe src="https://www.youtube.com/embed/aXYMmgSG5CE?rel=0"
allowfullscreen="" frameborder="0">
</iframe></div>

<p>This sculpture is designed to be picked up and played with. Expand it,
collapse it, skew it. See how many different forms it can take. Notice the
extents of the range of motion of the linkages. See if you can identify groups
of edges which remain parallel. Does the volume change as you transform its
proportions?</p>
