---
title: Sō Percussion
date: 2011-11-01
wrapping: post
---

<p>Tonight, we concertgoers at UC Santa Barbara’s Campbell Hall are treated to a
  mesmerizing one-hundred minutes of pure percussion.</p>

<img class="full-width" src="so-percussion-media.jpg">

<p>The group,
  <a href="https://sopercussion.com/" target="_blank">Sō Percussion</a>
  consists of four talented musicians, Eric Beach, Josh Quillen, Adam Sliwinski,
  and Jason Treuting.</p>

<p>In the afternoon, they arrive at the venue where a moving van full of rented
  instruments awaits – xylophones, vibraphones, marimbas, timbales, tablas,
  cymbals, tom-toms, snare drums, bass drums. This is all in addition to their
  selection of special instruments: smaller, more unconventional devices that
  travel with the group. These include: a toy piano, cranked ratchet devices,
  chromatic touch bells, felt tipped pens, dead leaves, and conch shells. Giant
  seed pods that probably originated from deep within the Amazon, and hardwood
  blocks that could have come straight from the lumber mill. And the
  centerpiece: a potted cactus (locally grown Santa Barbara organic, they said).
</p>

<p>The concert begins. These performers produce an incredible variety of noises,
  made with incredible restraint and precision. I&#8217;ve never heard anything
  like it.</p>

<p>Sō begins their set performing Steve Reich’s "Music for Pieces of Wood";
  accompanied by Jon Nathan, of UCSB percussion. Each of them wields a single
  wooden mallet and a single block, the five performers join together one by
  one, playing with monotony and complexity.</p>

<p>Layered composition, shifting syncopation and roving periodic patterns. At
  times the progression seems to be dragging on and on, pushing just past the
  average listener’s patience before shifting suddenly to a new rhythmic idea.
  The mallet strikes bring about in me either a heightened awareness or
  alternatively, a hypnotic trance. Either way this piece is sure to induce an
  altered state of consciousness!</p>

<p>After four more diverse and absorbing compositions, the evening culminates
  with a double dose of John Cage, with "Child of Tree"; and "3rd Construction".
  Cage’s philosophy of open-mindedness towards sound is on my mind. Do the
  shuffle of footsteps as Josh Quillen walks out onto the stage count as part of
  the piece? Before I can decide, he begins to deftly manipulate a unique
  instrument: assorted plant matter.</p>

<p>The sounds are gathered from with a vast decibel range containing: from the
  minute tearing of leaves and gentle stroking of a seed pod husk, to the deep
  and booming yet sharply muted plucks of the potted cactus.</p>

<p>I guess the sounds of the cactus are transduced through a contact piezo
  microphone. I feel each thunk, plunk and scrape of the cactus in my chest.
  Child of Tree is a lesson in listening. I enjoy sound for sound's sake.</p>

<p>And then comes the climactic final piece, "3rd Construction". This really
  knocks me out. And so I'm inspired to write a poem:</p>

<blockquote style="padding-left: 50px;">
So you say you know the sound of Sō,<br />
of percussion performed in a classical show?<br><br>

A mere bunch of drumming? I think you don’t know.<br />
A deeper look is apropos...<br><br>

So let me tell you of their rhythm and meter<br />
and diddles and drags and the six-stroke repeater,<br><br>

of amplitude flights and swells and pauses,<br />
loud spikes and gaps of various causes<br><br>

and silence and sound and sound and silence.<br />
Of anticipation and relief &#8230;or prolonged anticipation<br><br>

It’s palpitation, pulsation. It’s quiver and quake.<br />
It’s tonation vibration swing swell surge and shake.<br><br>

Democratization of sound is the mood;<br />
no noise is too crass or too crude to include<br><br>

Then is it cacophony? Or might it be symphony?<br />
One thing for sure is they don’t do it timidly.<br><br>

When the key to good music is in variation<br />
variation itself undergoes liberation.<br><br>

With four fellows and eight hands playing dizzying beats<br />
we feel wakefulness there on the edge of our seats.<br><br>

It’s clear all those mallets are expertly wielded.<br />
What emotional punch their great frenzy has yielded!<br><br>

Then a nod, and a glance and a contact of eyes...<br />
and they suddenly stop – all of them – synchronized.<br><br>

So I forget they’ve played instruments when it’s all done and said<br />
and I leave the place feeling they’ve played me instead.<br><br>
</blockquote>

<figcaption>Image from So Percussion media -
  <a href="https://sopercussion.com/media/photos/"
  target="_blank">Photo ©2011 LiveWellPhoto</a></figcaption>
