---
title: "Real Make Belive Space Programs"
date: 2016-10-17
wrapping: post
---

<h4>or: How I learned to love the Tom Sachs Space Program by reading Nicholas
de Monchaux and learning the history of the Apollo Missions</h4>

<figure class="full-width">
<img src="2016-05-12-mission-control-booster-separation.png">
<figcaption>
<strong>Tom Sachs Space Program</strong><br>
Europa Mission Control
</figcaption>
</figure>

<p>Did you know there is more than one NASA? There is of course, the NASA
which is a United States government agency established by President Eisenhower
in 1958. Then there is another NASA, which is an independent agency established
by the artist Tom Sachs in 2007.</p>

<p>This article is for Tom Sachs fans like myself, who might not be so well
schooled on the historical context for Space Programs. My argument is that by
increased awareness of one NASA, the reader can have a deeper appreciation for
the other NASA. And along the way, may come to see that the real and the
make-believe aren’t so far apart as we might think.</p>

<h3>Contents:</h3>
<ul style="list-style: none;">
<li><a href="#introduction">Introduction: the book, the art, my thesis</a>
<ul style="list-style: none;">
<li><a href="#comparison-1">1. Cuddly space suit</a></li>
<li><a href="#comparison-2">2. The importance of simulation</a></li>
<li><a href="#comparison-3">3. Bricolage engineering</a></li>
<li><a href="#comparison-4">4. It's the Cold War, stupid</a></li>
<li><a href="#comparison-5">5. Who to root for?</a></li>
<li><a href="#comparison-6">6. Indoctrination</a></li>
<li><a href="#comparison-7">7. Fiddling with cameras</a></li>
<li><a href="#comparison-8">8. Child's play</a></li>
</ul>
</li>
<li><a href="#conclusion">Conclusion: is the art truthful?</a></li>
</ul>

<p><a name="introduction"></a></p>
<h3>Introduction</h3>

<p>I got to know the Tom Sachs NASA by attending their Mission Control Center
in San Francisco, California at the Yerba Buena Center for the Arts. I was
there to witness the first womaned (the crew consisted of two female astronauts)
mission to the moon Europa. It was monumental, awe-inspiring, and uplifting.</p>

<p>After the mission, I had the good luck to meet and talk with Nicholas de
Monchaux, an expert on the history of the Apollo missions carried out by the
other NASA. It turns out that he authored a book on the subject and even
consulted for Tom Sachs' NASA. So naturally I bought his book and got to
reading.</p>

<h4>The book:</h4>

<figcaption>
<a href="http://fashioningapollo.com/" target="_blank">Spacesuit: Fashioning Apollo</a>
by <a href="http://demonchaux.com/" target="_blank">Nicholas de Monchaux</a>
(2011)</figcaption>

<p>This book makes the case that there is no way that humans could have stood
(alive and well) on the surface of the moon 48 years ago, if it wasn't for a
special spacesuit, the <a href="https://en.wikipedia.org/wiki/Apollo/Skylab_A7L">A7L</a>.
It was special because it was hand-made, and by an unlikely, unorthodox
organization (The Playtex Bra and Girdle Company). It was made at Playtex, by
practical men and women – not your typical aerospace engineers – and all this was
key to its success.</p>

<p>Judging by the cover, you might think this is merely a book about the
details of creating the suit which enclosed the astronauts on the Apollo
missions. But "Spacesuit: Fashioning Apollo" is about much more than that. It
is about fashioning a certain spacesuit, yes. But it is also
about fashioning an entire industry and Space Program behind it. The book
chronicles the history of trial and error of what humans can wear in flight,
starting from hot air balloons, and progressing to higher and higher
altitudes.</p>

<p>Overall, the book is more about craft, design, organizational logic, and
innovation than a technical report on the spacesuit. Fascinating though a pure
technical report may be, I argue it is even more fascinating to know all this
real world context, and the book delivers.</p>

<h4>The art:</h4>

<figcaption>
<a href="https://www.ybca.org/whats-on/space-program-europa" target="_blank">Tom Sachs Space Program: Europa</a>
San Francisco (2016).</figcaption>

<p>On September 17th 2016, the Tom Sachs Space Program successfully achieved
the goal of landing two women on the sixth moon of Jupiter and returning them
safely to the Earth. The mission was conducted as a 6-hour play of performance
art. Or, as billed on the museum program, a "demonstration", by the artist and
his team, of the multitudinous works of sculpture that make up the material
objects of the Space program.</p>

<p>The audience views the performance in the Mission Control gallery. The
stage in front is a giant array of screens which display the numerous camera
feeds from all aspects of the mission. The spacecraft and the Europan surface
are installed in neighboring galleries. (Spectators in certain locations
elsewhere in the museum can observe these from a balcony or through a glass
wall). But to those at Mission Control in the primary gallery, these other
places could just as well be millions of miles away. During the mission, the
astronauts are only seen through live closed-circuit television screens and
heard through radio intercom.</p>

<p>Surrounding the audience, on the perimeter walls of Mission Control are
various special effects stations, each one a work of sculpture containing a
miniature setup and brought to life by performers to produce a camera feed
with the required image to be shown on their respective screens at Mission
Control. All this and more is exquisitely orchestrated by the Sachs team, from
start to finish.</p>

<p>I was so enthralled with the concept, both of the mission and of Sachs' work,
that I went so far as to attend the show in a home-made costume and even
<a href="https://www.youtube.com/watch?v=x9T19MHYWr8" target="_blank">made a movie about it</a>.
</p>

<h4>My thesis:</h4>

<p style="text-align: center;"><em>The Apollo Space Program was a surprisingly
Sachsian affair.</em></p>

<p>In the weeks after the show, the more I learned about the actual Apollo
missions, the more I realized how much the "real" Space Program is just like
the Tom Sachs Space Program. But how can that be? Shouldn't it be the other
way around? Not completely, I say. Here's two explanations:</p>

<ol>
<li>Tom Sachs and his team are obsessive and meticulous in their research and
attention to detail. This, along with their powers of imagination, creativity
and performance lead to an uncanny similarity with the original, the Apollo
Space Program.</li>
<li>Both Apollo and Tom Sachs succeed by playing on deep and fundamental
dreams, desires and thought patterns, common to all humans—artists and
government employees alike. So the uncanny similarity comes from these
common dreams.</li>
</ol>

<p>Dreams like: one-upmanship, conquest, exploration, adventure, heroism,
tribalism, craftsmanship, toolmaking, cataloging, discipline, innovation,
cultural pride, and the experience of the sublime.</p>

<p>Back when seeing the Europa show, there were many parts that I thought were
invented or exaggerated in the Tom Sachs style purely for artistic effect. But
then, going back and learning about the real thing, at times I would say to
myself, "wow that really did happen, real life really was <em>that</em>
outlandish." At times it would seem almost – almost – like Tom Sachs himself was
behind the Apollo program.</p>

<p>If truth is stranger then fiction, then a corollary could be, fiction based
on truth is the strangest fiction of all. And as you will see, this is just
what you get with the Tom Sachs Space Program.</p>

<p><a name="comparison-1"></a></p>
<h3>1. Cuddly space suit:</h3>

<p>In the Europa performance, when the astronauts – Tom Sachs Studio members
Commander Mary Eannarino and Pilot Rebecca Silberman – left the Earth behind and
got on their way across interplanetary space, they soon settled down for an
intimate trip together.</p>

<figure class="partial-width-centered">
	<a href="https://www.instagram.com/p/BKPs7r9AuBl/" target="_blank">
		<img class="full-width" src="tom-sachs-instagram-europa-flight-crew.jpg">
	</a>
<figcaption>
	<strong>CDR Mary Eannarino and LMP Rebecca Silberman</strong><br>
	Source: <a href="https://www.instagram.com/p/BKPs7r9AuBl/" target="_blank">Tom Sachs on Instagram</a>
</figcaption>
</figure>

<p>Dressed in their evening-wear (handmade Tyvek spacesuits), they shared a
candle-lit dinner, followed by  slow dancing, and then went off to bed where
they cuddled, one astronaut placing her arm around the other. All this to the
tune of Al Green's
<a href="https://en.wikipedia.org/wiki/Let%27s_Stay_Together_(song)" target="_blank">Let's Stay Together</a>.
</p>

<audio class="full-width" controls>
<source type="audio/mpeg" src="lets-stay-together-al-green-sample.mp3"/>
<source type="audio/ogg" src="lets-stay-together-al-green-sample.ogg"/>
</audio>

<p>Compare this to the other NASA where, of the spacesuit that Commander Neil
Armstrong wore on the Moon nearly a half century earlier, he wrote, “It was
tough, reliable, and almost cuddly.”</p>

<figure class="full-width">
	<a href="https://en.wikipedia.org/wiki/Apollo/Skylab_A7L#/media/File:Apollo_11_space_suit.jpg" target="_blank">
		<img class="full-width" src="apollo-11-space-suit-wikipedia.jpg" alt="Neil Armstrong's Apollo 11 EMU displayed on a table top before the mission was flown.">
	</a>
<figcaption>
Neil Armstrong's Apollo 11 suit displayed on a table top before the mission.
Don't you think it looks pretty cozy?
</figcaption>
</figure>

<p>That cuddly spacesuit was the
<a href="https://en.wikipedia.org/wiki/Apollo/Skylab_A7L#Basic_design" target="_blank">Apollo A7L</a>,
a hand made "utterly couture garment", as de Monchaux writes, made by the
Playtex Company. The A7L was a garment making feat – with unimaginably intricate
sewing, patterning, moulding, layering – which only the most skilled human hands
(the down-to-earth craftspeople at Playtex) could accomplish. Of all of the
manual arts that went into Apollo, it feels to me that the suit making reached
the apogee. And the handmade nature of the suit was key to it's cuddliness.</p>

<p>Of course there were competitors to the Playtex company, those who took a
more conventional aerospace engineering approach. Take this competing suit
design: the Litton Industries Rx2:</p>

<figure class="partial-width-centered">
	<img class="full-width" src="litton-industries-rx-2.jpg">
<figcaption>
In this tin can of a suit, you can hardly talk of a "wearer". The person
inside seems more like an occupant.
</figcaption>
</figure>

<p>This suit, de Monchaux explains, was supported by a shoulder harness, and
even had a seat for the astronaut inside, made from a repurposed bicycle saddle.
When ready for a break, the occupant would adjust the seat height by an exterior
knob!</p>

<blockquote><p>Instead of draping, circling, and supporting the body with a
tight air bladder, against which the astronaut pressed his body to move the
suit, the Litton suit did not touch the body of the wearer at all, except for
the soles of his feet and the insides of his flight-suit-derived gloves.
Engineers especially were said to prefer the sensation of a suit that set
around, not on the body.</p></blockquote>

<p>These human-shaped "tanks" that initially appealed to engineers in theory,
proved to be woefully inadequate, readers of the book will learn, because in
practice they could not properly respect and enable the human being inside.</p>

<p>While the Apollo astronauts and suit successful designers might not have been
thinking of cuddling per-se, they were thinking of comfort, and the A7S suit
delivered. Comfort was key to the suit's success.<br/>

<a name="comparison-2"></a></p>
<h3>2. The importance of simulation:</h3>

<p>Officially, the Apollo missions were a spacefaring event, but in reality,
they were a media event. As such, the audience is an essential component to the
success of the mission. The same goes in the world of Art, there can be no art
without the audience.</p>

<p>So, for the benefit of the audience, the Europa show is jam-packed with
simulation. And it turns out the same is true for the Apollo show.</p>

<p>At the start of the Europa mission, once the astronauts are situated in the
cockpit and ready for takeoff, the Flight Controller (CAPCOM) calls out to
"Lower blast shields", and the motorized window shades of the art gallery draw
closed. The all-important countdown advances "<em>...ten, nine, eight...</em>",
and then "Ignition", which is achieved with the first of many special effects
sculpture stations that will be used throughout the performance.</p>

<p>"Ignition", consists of an upside-down handyman's propane torch with a single
burner, that is optically multiplied into <em>four</em> burners by a pair of
mirrors forming a 90-degree corner. Opposite the mirrors is a surveillance
camera, one of dozens used throughout the entire mission to compose the
broadcast. The primary screen on the big board at Mission Control patches
through the feed from this camera, and so the audience receives the view they
require: that of the almighty first-stage boosters roaring into life. Each video
effect is orchestrated along with appropriate sound effects for a powerfully
thrilling combination. There is no loss to the audience that the image and
sounds being broadcast are special effects. We don't care that it is only a
simulation, because we have already bought in. The simulations have helped us
to buy in.</p>

<p>The countdown advances <em>"...three, two, one—launch commence!"</em> and
Mission Control switches over to the video feed from the next special effects
sculpture "Launch", which has a toy Saturn V rocket slowly rising on a rail
surrounded by billowing white vapor from a little fog machine. These camera
feeds are interspersed on the big screen with views of the astronauts strapped
into their seats, seen by cockpit cameras (which of course are shaking to create
the illusion that the whole rocket is shaking as it ascends through the thick
atmosphere). Then, booster separation and engine cutoff, which is captured by a
camera pointed downwards onto the surface of a desk where a hand-drawn cartoon
cutout of the rocket is being moved by the Flight Director's hands further
upwards through the atmosphere (over a sheet of blue construction paper), and
then all of a sudden one of the hands flicks open a pocket knife, and slices
the fire off. The roaring sound of the engines is silenced and the astronauts
are on their way. At this point the audience bursts into joyful applause with
the anxiety of liftoff surmounted, and I don't think I was the only one to shed
a tear.</p>

<p>So, you get the idea. The performance certainly has plenty of non-simulated
moments – the astronauts in the spacecraft, on excursion on the Europan surface,
and constant radio communication with Mission Control – but what a poor thing the
show would have been without the abundance of special effects. Through
simulation the audience goes on to see "Darkness and Stars", the Earth receding
away, the moon Europa approaching, the excursion module landing on the surface
(with advanced computer guidance), and afterwards rendezvous and docking with
the Command Module back in orbit around Europa, Europa receding away, the Earth
approaching, and finally "Reentry", splashdown and "Rescue".</p>

<p>There is just no way that the Tom Sachs Space Program could have told the
complete story if it wasn't for simulation. It would have been sorely
incomplete. There are many important visuals that couldn't possibly be filmed
directly. And wouldn't you know it? The same is true for the Apollo Space
Program.</p>

<figure class="full-width">
	<img class="full-width" src="cbs-moon-surface.jpg">
<figcaption>
APOLLO 11 MISSION. Cameramen shoot images of a model of the moon's surface at
the CBS New Space Center. July 20, 1969.<br>From the CBS Photo Archive.
</figcaption>
</figure>

<p>For Apollo, American news networks pioneered special effects for broadcast,
to show the audience what was going on and to tell the story visually. De
Monchaux explains some of the "complex simulations and multilayered visual
effects", as he writes, on the coverage by CBS:</p>

<blockquote><p>In the absence of a live feed preceding Armstrong's exit to the
lunar surface, CBS viewers were treated to hours of simulations and staged
reenactments of events in a lunar broadcast. As the Lunar Module Eagle descended
slowly to the lunar surface, gliding on the rails of its parabolic trajectory,
for example, the viewers of CBS enjoyed a bird's-eye view from above the spidery
lander, and the cratered landscape rolling below. Literally rolling, as it
turns out. The landscape was an enormous, latex-and-fabric belt, rolling away
from a special-effects camera. Electronics stitched the moving image together
with images of a LEM model, a rising Earth, and electronic text to indicate
minutes to landing.</p></blockquote>

<p>Here you can see some of the special effects for yourself as they were
broadcast:</p>

<video class="full-width" src="apollo-11-cbs-landing-animation.mp4" controls></video>

<p>So if you thought that zany, handmade practical effects belonged exclusively
with the Tom Sachs Space Program, you'd be mistaken. Apollo broadcasters set
this precedent decades earlier.</p>

<p>The beauty of simulations like these is that they don't have to be perfect.
In fact the approximations and little imperfections resulting from craftsmanship
make them even more endearing. They work so well not because they create a
world on a tv screen or in an art gallery, but because they create a world in
the audience's mind.</p>

<a name="comparison-3"></a>
<h3>3. Bricolage engineering:</h3>

<p>Tom Sachs refers to his works as bricolage, meaning the creation of new
works using an assortment of existing materials and objects.</p>

<p>But this practice is not exclusive to art. One finds the same thing going on
in the works of Apollo. As de Monchaux writes, in summarizing NASA's process of
cobbling together the diverse components that took us to the moon:</p>

<p><blockquote>A space suit is made out of a flight suit, a Goodrich tire, a
bra, a girdle, a raincoat, a tomato worm. An American rocket ship is made out
of a nuclear weapon, and a German ballistic missile; a Space Program – a new
organization with new goals – is made out of preexisting military, scholarly, and
industrial institutions and techniques.</blockquote></p>

<p>So there is a natural kinship between the two. Neither is creating new things
from raw materials. They are creating new things from old things and they are
creating uncommon things from common things. Novelty comes not from the
components themselves which are familiar and well-known, but from the particular
union of the components. It's the idea that the whole is greater than the sum
of its parts. Tom would use a more amped-up description:</p>

<blockquote><p>The formula that I use in art is "one plus one equals a million"
and the hard part of that formula is deciding what those two ‘one’ things are.
</p></blockquote>

<figcaption>
From an <a href="http://www.huckmagazine.com/art-and-culture/art-2/tom-sachs/" target="_blank">interview with Huck Magazine</a>
</figcaption>

<p>The other part to his formula is that the combination of the one plus one
should be handmade. Tom Sachs' philosophy gives highest regard to the hand made
object. It honors that the object was made by a human for a human. It might be
expected (for arts and crafts and bricolage, it may even be essential) that the
object to be handmade, but would you know that handmade-ness was also essential
for a successful trip to the moon?</p>

<p>As de Monchaux explains, such a complex and high-performing object as the
Apollo spacesuit couldn't have been anything other than handmade:</p>

<p><blockquote>But then the actual spacesuit—this 21-layered messy assemblage
made by a bra company, using hand-stitched couture techniques—is kind of an
anti-hero. It's much more embarrassing, of course – it's made by people who make
women's underwear – but, then, it's also much more urbane. It's a complex, multi
layered assemblage that actually recapitulates the messy logic of our own
bodies, rather than present us with the singular ideal of a cyborg or the hard,
one-piece, military-industrial suits against which the Playtex suit was always
competing.</blockquote></p>

<figcaption>
From an <a href="http://www.bldgblog.com/2011/04/spacesuit-an-interview-with-nicholas-de-monchaux/" target="_blank">interview with BLDGBLOG</a>
</figcaption>

<p>Besides the spacesuit, another memorable handmade construct (I learned of
thanks to de Monchaux) was the
<a href="https://en.wikipedia.org/wiki/Core_rope_memory" target="_blank">Core Rope Memory</a>
for the Apollo Guidance Computer. Check it out:</p>

<figure class="partial-width-centered">
	<a href="https://en.wikipedia.org/wiki/Core_rope_memory#/media/File:Apollo_guidiance_computer_ferrit_core_memory.jpg" target="_blank">
		<img class="full-width" src="apollo-core-rope-memory.jpg">
	</a>
<figcaption>
Ferrite core memory as used in the Apollo Guidance Computer (MIT sample for testing)
</figcaption>
</figure>

<p>This was the medium used to store the software programs that provided
navigation and control for the spacecraft. It is a weaving of copper wires
through ferrous beads. The ones and zeros of the programs are embedded in the
weave pattern itself; once it's woven it can't be corrupted or overwritten.</p>

<p>In addition to the visual beauty of a handmade fiber object, Core Rope Memory
had a functional beauty in its robustness and compactness. This was the only
adequate way at the time to store programs for spaceflight. Other memory
media, such as punch cards and magnetic tape were too feeble and too heavy to
be space worthy.</p>

<p>Core Rope Memory had to be made by highly skilled textile workers working
with needle and (conductive wire) thread. The wire would pass through a ferrous
bead, a "core", to represent a '1' or bypass a core to represent a '0'. The
cores were arranged in a grid which was supported by a harness for the weaving
process. The needle was actually a shuttle (in the weaving sense of the word)
that payed out wire from within.</p>

<p>Here is a NASA/MIT documentary that shows and explains the process
well:</p>

<figure class="full-width">
	<video class="full-width" src="mit-core-rope-memory.mp4" controls></video>
<figcaption>
	<strong>Excerpt from: "Computer for Apollo" (1965)</strong><br>
	Source: <a href="https://infinitehistory.mit.edu/video/mit-science-reporter%E2%80%94computer-apollo-1965" target="_blank">MIT Science Reporter</a>
</figcaption>
</figure>

<p>Of course, the history of computing itself is heavily intertwined with the
history of weaving and textiles. Think about it: patterns made on the loom are
a form of software. The famous
<a href="https://en.wikipedia.org/wiki/Jacquard_loom" target="_blank">Jacquard Loom</a>
was a direct predecessor to the punch card computer, and the ancestry goes
back much farther. The practice of recording information in patterns and fibers
and beads has been around for thousands of years. Look at the
<a href="https://en.wikipedia.org/wiki/Quipu" target="_blank">Quipu</a> and the
<a href="https://en.wikipedia.org/wiki/Wampum" target="_blank">Wampum</a>,
two ancient predecessors. The Core Rope Memory of Apollo is just an old idea
taken to a great new height.</p>

<p>All these complex objects engineered and crafted by hand – assemblages of
common parts where one plus one equals a million – this was the practice for
Apollo yesterday, and is the practice for Tom Sachs today. Is it any wonder
that Tom Sachs chose to start his own Space Program?</p>

<a name="comparison-4"></a>
<h3>4. It’s the Cold War, stupid</h3>

<p>To warm up the audience, the Europa performance begins with Mission Control
playing a cute video montage. The video shows Americans getting beat down by
Soviets in scenes from international sporting matches, contests between USA and
USSR at the olympics, even clips from Rocky IV, where, Rocky goes up against
his Russian rival in the boxing ring.</p>

<p>My first reaction in watching this, as someone born after the cold war, and
having only known Apollo through history books and documentaries, is that this
is all a quaint re-framing of the Apollo story, a way to add a touch of
melodrama to the performance art. But the more I read, the more I learned that,
like it or not, this was a deep truth of Apollo. Lunar scientist Paul Spudis
puts it this way:</p>

<p><blockquote>Apollo was not about the Moon, or even about space. It took
place in space and ultimately, on the Moon. But Apollo was a battle in the Cold
War. John Kennedy did not say, "Go to the Moon and press onwards to the
planets." He challenged America to show the superiority of its economic and
political system by landing a man on the Moon and returning him to Earth "before
this decade is out." The key objective was not going to the Moon – it was to
beat the Soviets to the Moon.</blockquote></p>

<figcaption>
From
<a href="http://www.airspacemag.com/daily-planet/what-apollo-was-and-wasnt-152175128/" target="_blank">
What Apollo was ... and wasn't</a>, Smithsonian Air & Space
</figcaption>

<p>Just look at these newspaper headlines reporting the Soviet victories of
putting the first satellite in orbit, and the first man into space. You can
almost feel the dejection that proud members of team USA must have felt:</p>

<div class="row">
<figure class="column-half">
	<img src="newspaper-first-satellite.jpg">
<figcaption>
First man made satellite, Sputnik
</figcaption>
</figure>

<figure class="column-half">
	<img src="newspaper-first-man-in-space.jpg">
<figcaption>
First man in space, Yuri Gagarin
</figcaption>
</figure>
</div>

<p>The two worlds were locked in an ideological standoff. Each found itself in
an escalation of feats of military and technology. Each wanted to outdo the
other, and signal their greater societal fitness to each other.</p>

<p>The instinct to show off outweighed the perhaps more pure instinct for
exploration and pursuit of knowledge. In going to the Moon, one of the key
things the United States demonstrated was that the United States could afford
to spend a large percentage of our national budget (according to Spudis, nearly
7% at the peak) on going to the moon.</p>

<p>I can't help but notice the parallels to the
<a href="https://en.wikipedia.org/wiki/Handicap_principle" target="_blank">
Handicap Principle</a>
in biology, of which the classic example is the male peacock, which spends a
large chunk of its energy budget on producing its ostentatious tail of colorful
feathers. The idea is that this sends a signal to potential competing peacocks
and potential mates alike, that says "Hey, I'm so fit for peacock life that I
can afford to spend this much energy on my colorful display, all without even
compromising my essential peacock abilities." The parallel often referred to
in humans is that of
<a href="https://en.wikipedia.org/wiki/Conspicuous_consumption" target="_blank">Conspicuous Consumption</a>.
</p>

<p>So, with the us-versus-them mentality, in the battle between communism versus
capitalism, the United States chose to go all in on showing off. Americans
wanted, consciously and subconsciously, to psych out the Soviets. The choice of
technique could have been worse I suppose; it could have been that of typical
warfare: death and destruction. Not that the era of the Cold War was at all without
those either.</p>

<p>Should one be depressed to look at it this way? Does it demean our humanity
that the roots of such an effort as the Apollo missions be ignoble? Or can we
still celebrate and admire all of the achievements regardless of their origin?
Maybe it's just that sometimes it takes a compelling justification, or a good
pretext, to advance the state of the art. The United States space program was a
good excuse to make a multitude of cutting edge technologies, and in the same
way the Tom Sachs Space Program is a good pretext to make a multitude of cutting
edge sculptures.</p>

<h4>Question for Nicholas:</h4>

<ul>
<li>In the Space Race, the Soviets did some bold bluffing *(see note below).
Did the USA do much bluffing? And beyond bluffing, what about sabotage? Did
either team ever attempt to sabotage the other? How easy would it have been for
the Soviets to thwart one of the Apollo missions? Would this have been
unthinkable as it is completely unsportsmanlike? And sabotage means possibly
killing astronauts in the process. Was this resisted because it would it have
been cause to incite conventional warfare between the two nations?</li>
</ul>

<figcaption>*The report of Yuri Gagarin's first trip to space, hailing full
success, neglected to mention that he returned to earth in a parachute because
the Soviets did not yet work out the landing part. Here's
<a href="http://www.seeker.com/gagarins-falsified-flight-record-1765739082.html" target="_blank">
an article explaining this bluff</a> in detail.</figcaption>

<h4>Question for Tom:</h4>

<ul>
	<li>If Apollo was a war effort, do you feel like you run your space program
	as a war effort? If so, do you see what you are defending or fighting for
	and do you have an enemy? Or is yours a peaceful sculpture/space program?</li>
</ul>

<p><a name="comparison-5"></a></p>
<h3>5. Who to root for?</h3>

<p>The essence of the Apollo missions was not about science. Nor was is about
rocketry or lunar geology or technology. If it was, all this could have been
accomplished by merely sending probes and rovers. But Apollo was about putting
<em>people</em> on another world.</p>

<p>Apollo was about achieving a feat of human exploration and adventure. It was
putting a few human beings across a new frontier. It is sending one of our own
kind to a new place for the first time because it is there and because we can.
The widespread excitement caused by Neil Armstrong and Buzz Aldrin excursioning
on the moon was because they were <em>people.</em> We could imagine what it was
like for them, and then think: maybe, in the future, I, or my children could do
that too?</p>

<p>In the same way, the essence of the work of Tom Sachs is not about
manufacture. Nor is it about materials, building, or fabrication. If it was,
all this could have been accomplished by assembly lines and computer controlled
production. But Tom Sachs' work is about creating and crafting with human hands,
objects that have meaning for <em>people</em>. You can look at a work of his
and easily imagine what it was like to make it, and even think, maybe I could
make something like that too?</p>

<p>So the primary value is humanity. The secondary values are the technical
ones. Incidentally, when the primary value is fulfilled, the secondary values
are also fulfilled along the way. Much great science and engineering came out
of Apollo, and much great construction and fabrication comes out of the Tom
Sachs studio. One can even argue that the secondary pursuits are even more
productive thanks to the primary ones. Dealing with the human element forces
solutions to a more challenging problem, it may increase innovation, and
it magnifies the audience of people who care about the outcome. It is in our
human nature to care more about the humans than the robots.</p>

<p>Sending human explorers on a mission makes for heroes to inspire and to look
up to. Sending automated tools is mundane by comparison. And the parallels
extend to the arts. So, if human spaceflight is a bolder investment in our
future, then human handcraft is a bolder investment in our culture.</p>

<a name="comparison-6"></a>
<h3>6. Indoctrination:</h3>

<p>One of the more peculiar segments from the Europa Mission was
"Indoctrination". This took place upon landing on the surface of this new world.
The astronauts and ground crew performed an esoteric ritual, something like a
sacred or religious observance. There was meditation, recitation and even
ingestion of some colored liquid, accompanied perhaps (I couldn't quite tell
from the audience section at mission control) by some sort of pharmaceutical.</p>

<figure class="partial-width-centered">
	<a href="http://www.tomsachs.org/item/indoctrination" target="_blank">
		<img class="full-width" src="tom-sachs-indoctrination.jpg">
	</a>
<figcaption>
Indoctrination Zine. It depicts the module used by the astronauts on the
Europa and the prior Mars missions.
<a href="http://www.tomsachs.org/item/indoctrination">Source</a>
</figcaption>
</figure>

<p>The, the participants in the Indoctrination ceremony recited a version of the
<a href="https://en.wikipedia.org/wiki/Mentat#Mantra" target="_blank">mantra</a>
from the Dune film by David Lynch:</p>

<figcaption>
It is by will alone I set my mind in motion<br>
It is by the juice of Safu that lips acquire stains<br>
That thoughts acquire speed<br>
The stains become a warning<br>
It is by will alone I set my mind in motion<br>
</figcaption>

<p>Yeah, yeah, yeah, I thought. This is all nice and edgy, even down to the
inverted pentagram emblem on the module housing – cute touch. At the time I
thought the inclusion of all this was pure artistic embellishment, a Sachsian
addition to make a point about neocolonialism or something like that. I thought
it was a farce.</p>

<p>But would you believe...</p>

<p>that the same thing took place on the Apollo missions? When researching this
essay in the days after attending the show, to my surprise I learned it was just
so.</p>

<p>The first instance is from the television and radio broadcast of Apollo 8,
the first human visit to (orbit around) the moon. It was Christmas Eve and the
crew, floating above the Moon's surface, addressed their live audience by
reciting together the first ten verses from the book of Genesis.</p>

<figure>
	<audio class="full-width" controls>
	<source type="audio/mpeg" src="apollo-8-christmas-eve-message.m4a"/>
	</audio>
<figcaption>
<b>William Anders:</b>
We are now approaching lunar sunrise,
and for all the people back on Earth the crew of Apollo 8 has a message
that we would like to send you.<br>
In the beginning God created the heaven and the earth.<br>
And the earth was without form, and void;<br>
and darkness was upon the face of the deep.<br>
And the Spirit of God moved upon the face of the waters.<br>
And God said, Let there be light: and there was light.<br>
And God saw the light, that it was good: and God divided the light from the darkness.<br>
<b>Jim Lovell:</b> And God called the light Day, and the darkness he called Night.<br>
And the evening and the morning were the first day.<br>
And God said, Let there be a firmament in the midst of the waters,<br>
and let it divide the waters from the waters.<br>
And God made the firmament, and divided the waters<br>
which were under the firmament from the waters which were above the firmament:<br>
and it was so.<br>
And God called the firmament Heaven.<br>
And the evening and the morning were the second day.<br>
<b>Frank Borman: </b>And God said, Let the waters under the heavens be gathered together unto one place,</br>
and let the dry land appear: and it was so.</br>
And God called the dry land Earth;</br>
and the gathering together of the waters called he Seas:</br>
and God saw that it was good.</br>
And from the crew of Apollo 8, we close with good night, good luck,
a Merry Christmas, and God bless all of you,
all of you on the good Earth.
<hr>
More about the Apollo 8 story
<a href="http://www.nasa.gov/topics/history/features/apollo_8.html" target="_blank">here</a>
</figcaption>
</figure>

<p>The second instance is from Apollo 11, the first human moon landing. Buzz
Aldrin, Lunar Module Pilot, had tucked away into his personal items a wafer, a
sip of wine and a cup. His original intention was to recite a passage from the
book of John on air as part of the broadcast from the moon, however NASA advised
him against it, and at the last minute he performed the ritual off the air.</p>

<figure class="partial-width-centered">
	<img class="full-width" src="communion-kit.jpg">
<figcaption>
Chalice and bag used by Buzz Aldrin to observe the Lord's Supper upon landing
on the moon.
</figcaption>
</figure>

<p>As
<a href="http://swampland.time.com/2013/07/20/the-secret-communion-on-the-moon-the-44-year-anniversary/" target="_blank">this article</a>
by Time magazine explains, after the Christmas broadcast a few months earlier
there was some controversy around these religious expressions, which caused
Buzz to abort his plan:</p>

<p><blockquote>Atheist Madalyn Murray O’Hair sued, arguing that the astronauts
were government employees and therefore their actions violated the separation
of church and state. The Supreme Court dismissed the case – for lack of
jurisdiction – but it created enough of a stir that NASA wanted to avoid any
such distractions from their missions.</blockquote></p>

<h4>A few takeaways:</h4>

<ul>
<li>Apparently the Supreme Court has no say over what happens on the Moon.</li>
<li>Thanks to it being a private enterprise (not supported by tax dollars),
the Tom Sachs Space Program should be able to happily adopt whatever
indoctrination practices it so chooses.</li>
</ul>

<p>Before writing this essay, I had no idea about the Biblical recital and the
Holy Communion on the Moon. For those who were alive back then and followed the
Apollo broadcasts, did this figure prominently in your minds? Was it met with
raised eyebrows, or with broad consent? What really gets me is that, amazingly,
Tom Sachs' "Indoctrination" is not so far from reality at all.</p>

<a name="comparison-7"></a>
<h3>7. Fiddling with cameras</h3>

<p>Witnessing the full six-hour performance of the Europa Mission, the viewers
are constantly aware of the presence of cameras. Cameras here, cameras there,
all an essential burden in presenting the story to the audience.</p>

<p>At the Mission Control desk sits the Capsule Communicator – CAPCOM – performed
by former Tom Sachs astronaut Sam Ratanarat. (According to NASA policy, the
role of CAPCOM is always to be filled by a former astronaut.) Throughout the
performance, Ratanarat is constantly requesting repositioning and adjustments
of camera units such as the following:</p>

<figure class="partial-width-centered">
	<a href="https://www.instagram.com/p/BLmITmqgDln/" target="_blank">
		<img class="full-width" src="tom-sachs-instagram-europa-cameras.jpg">
	</a>
<figcaption>
	<strong>Broadcast Cameras 1 & 2</strong><br>
	Source: <a href="https://www.instagram.com/p/BKPs7r9AuBl/" target="_blank">Tom Sachs on Instagram</a>
</figcaption>
</figure>

<p>And while the cameras are constantly trained and retrained on the astronauts
and their operations, the Flight Director – FLIGHT – performed by Tom Sachs, is
constantly dictating which of the many camera feeds should be shown on the
primary screen on top of the big board at Mission Control at any given moment.
</p>

<p>With this, the audience has the special obligation to watch the broadcast at
the same time as the broadcast is being assembled and directed. You're
watching the show in the raw. It's like watching a movie, at the same time as
watching the directing of the movie, which can be enjoyable in its own way.</p>

<p>When watching the Europa performance, part of me thought it was just the
cleverness of "Tom Sachs theatre" that the "actors" (astronauts and support
crew) would break the
<a href="https://en.wikipedia.org/wiki/Fourth_wall" target="_blank">fourth wall</a>
by making
<a href="https://en.wikipedia.org/wiki/Meta-reference" target="_blank">meta-references</a>
to the cameras.</p>

<p>But wouldn't you know it? The Apollo broadcasts were much of the same.</p>

<p>As de Monchaux recounts, when Buzz Aldrin was making his descent down the
ladder, to take his first step onto the Moon, it took over a minute to ensure
the TV camera was properly adjusted. I originally found this surprising, the
idea that NASA would hold everything – right at the decisive moment – just to
fiddle with the camera. But then of course I had to remind myself, that the
TV broadcast <em>was</em> everything, because Apollo was, at its core, a media
event.</p>

<p>As the first Moon EVA was underway, Buzz Aldrin and Neil Armstrong were
preparing for Neil's famous first step, and they had to be sure to get it
captured on the TV camera. Reading through
<a href="https://www.hq.nasa.gov/alsj/a11/a11.step.html" target="_blank">the official transcript</a>,
between the astronauts and mission control (that is, Capcom Bruce McCandless
and the Flight Director Clifford E. Charlesworth), it is striking just how
much dialog was devoted to camera matters:</p>

<figcaption>
<p><b>109:21:22</b> McCandless: (This is) Houston. Roger. We copy. Standing by
for your TV.</p>

<i>FLIGHT: Capcom, Flight. Do you verify TV circuit breaker in?<br>
CAPCOM: I mentioned it. Let me check.<br>
FLIGHT: Verify it.<br></i>

<p><b>109:21:39</b> Armstrong: Houston, this is Neil. Radio check.</p>

<p><b>109:21:42</b> McCandless: Neil, this is Houston. Loud and clear. Break.
Break. Buzz, this is Houston. Radio check, and verify TV circuit breaker in.</p>

<p><b>109:21:54</b> Aldrin: Roger, TV circuit breaker's in. And read you loud
and clear.</p>

<p><b>109:22:06</b> McCandless: And we're getting a picture on the
<a href="https://www.hq.nasa.gov/alsj/a11/a11TVmanual.html" target="new">TV</a>.
</p>

<p><b>109:22:09</b> Aldrin: You got a good picture, huh?</p>

<p><b>109:22:11</b> McCandless: There's a great deal of contrast in it; and
currently it's upside-down on our monitor, but we can make out a fair amount of
detail.</p>

<p><b>109:22:28</b> Aldrin: Okay. Will you verify the
position – the opening – I ought to have on the (16 mm movie) camera?</p>

<p><b>109:22:34</b> McCandless: Stand by. (Long Pause)</p>

<p><b>109:22:48</b> McCandless: Okay. Neil, we can see you (on the TV) coming
down the ladder now. (Pause)</p>

<p><b>...</b></p>

<p><b>109:23:25</b> McCandless: Buzz, this is Houston. F/2 (and)...</p>

<p><b>109:23:28</b> Armstrong: Okay, I'm at the...(Listens)</p>

<p><b>109:23:29</b> McCandless: ...1/160th second for shadow photography on the
sequence camera.</p>

<p><b>109:23:35</b> Aldrin: Okay.</p>

<p><b>...</b></p>

<p><b>109:24:12</b> Armstrong: Okay. I'm going to step off the LM now. (Long
Pause)</p>

<p><b>109:24:23</b> Armstrong: That's one small step for (a) man; one giant
leap for mankind. (Long Pause)</p>

</figcaption>

<p>This transcript, it really brings me back to the Tom Sachs performance. But
it's not like the Tom Sachs team was aiming to directly emulate the dialog of
the Apollo mission. Rather, they were simply working to produce their own
real-time broadcast of the Europa mission, and apparently it just takes a lot
of constant discussion and attention on the cameras to do so.</p>

<h4>A makeshift contraption:</h4>

<p>Looking at Apollo as Media Event explains a lot. The point wasn't just to go
to the Moon, it was to put on a live show of going to the Moon for the world to
see. With this in mind, there was one detail about the Apollo TV broadcast that
I found particularly surprising and funny. Here's what happened:</p>

<p>A problem originated, as de Monchaux recounts, all the way back in 1961.
NASA's System Engineers – who weren't as savvy with the "Media Event" basis for
the whole thing – drastically underallocated bandwidth for the TV signal,
deciding to provide a mere 700mhz. De Monchaux writes:</p>

<p><blockquote>This was a fraction of that apportioned for example, to
telemetry, or to monitoring the astronauts heartbeat or temperature. Once this
1961 decision had been embedded in the systems architecture, the so-called,
SBAND transmission guidelines might have well been carved in stone.
</blockquote></p>

<p>Then, a few years down the line NASA officials came to realize the
consequence of this early decision:</p>

<p><blockquote>NASA officials were furious at the thought that the 1961
allocation might jeopardize a broadcast from the moon’s surface.
</blockquote></p>

<p>So, in order to fit the TV picture into the meager bandwidth, NASA had no
choice but to reduce the image quality. The most they could afford was one
fourth of the resolution (320 lines) and one third of the frame-rate (20fps)
of standard television.</p>

<p>Ok, ok this is only fair, NASA made their bed and now they had to lie in
it. But here's the kicker: this reduced format was totally incompatible with
terrestrial television infrastructure. Still, the ground stations ordained by
NASA to receive the undersized signal could display it on their own special
monitors, so it was just a matter of conversion. And how did they convert it?
Get this:</p>

<p><em>They just pointed a standard TV camera at
the special monitor!</em></p>

<p>What a perfectly Rube Goldberg solution. It sounds just like something that
Tom Sachs would do. You can read more about this crude yet effective conversion
process
<a href="https://en.wikipedia.org/wiki/Apollo_11_missing_tapes#Background" target="_blank">here</a>.
</p>

<h4>Suggestion for Tom:</h4>

<p>You have such an impressive and diverse array of cameras feeding into
Mission Control to tell the story. Here's an idea for one more: how about
putting a tiny camera in the Excursion Module during the the re-docking? That
way, during the
<a href="https://www.instagram.com/p/BKb9PV6gXuz/?taken-by=tomsachs&amp;hl=en" target="_blank">waltz sequence on stage</a>,
the audience can see the graceful joining of the two craft from the point of
view of the astronauts. The resulting special effects image might look something
like this:</p>

<figure class="partial-width-centered">
	<a href="https://commons.wikimedia.org/wiki/File:Apollo_10_Lunar_Module_Rendezvous.jpg" target="_blank">
		<img class="full-width" src="apollo-10-rendezvous-wikipedia.jpg">
	</a>
<figcaption>
	The Apollo 10 Lunar Module "Snoopy" rendezvous with the Command Module "Charlie
	Brown" after coming within 10 miles of the Moon's surface.
</figcaption>
</figure>

<p><a name="comparison-8"></a></p>
<h3>8. Child's Play:</h3>

<p>In a way, the Europa performance feels like watching a collection of grown-up
kids act out their fantasy with the help of homemade props and fueled by pure
imagination. Of course, the quality level is a little higher because the
performers have the discipline and talent and seriousness of adults. (Not that
kids at play aren't serious in their own way) And all this is a fine way of
looking at performance art, sure. But was Apollo all too different?</p>

<p>Take a look at this headline from the day of the Moon landing:</p>

<figure class="partial-width-centered">
	<img class="full-width" src="newspaper-men-walk-on-moon.jpg">
<figcaption>
This headline gets into the state of mind of a child playing pretend. What else
of interest would a moon landing entail?
</figcaption>
</figure>

<p>"Astronauts land on plain; collect rocks, plant flag". This reads like
something a young child would come up with. Besides being bombastic and
grandiose, it is charming and funny and unabashed. I mean, when you think about
it, what else <em>is</em> there to do on the first trip to the Moon?</p>

<p>After that, well, if I could put myself in the state of mind of child-like
make-believe, the next thing I'd like to do as a triumphant astronaut explorer
would of course be to take a phone call from the President. Wouldn't you know,
this is just what happened:</p>

<figure class="full-width">
	<video class="full-width" src="cbs-phone-call-president.mp4" controls></video>
<figcaption>
	CBS News: Phone call from the White House to the Moon
</figcaption>
</figure>

<p>All of this pretend play feels very Sachsian. It feels slightly silly. For
example, in the Europa Show one of the first things the astronauts deployed on
their Europan excursion was the hibachi barbecue. In the audience you'd think:
what an absurd thing to do, bring a hibachi and have a picnic. And then you
look at real life and realize it's not much less absurd. Look at some of the
activities that were performed on the moon:</p>

<ul>
<li>Alan Shepard played golf on the Moon on Apollo 14</li>
<li>On Apollo 14, Stuart Roosa brought a bag of tree seeds to the moon and
back. Then back on Earth they were planted all over as
"<a href="https://en.wikipedia.org/wiki/Moon_tree" target="_blank">Moon Trees</a>"</li>
<li>David Scott conducted a science-class demonstration, dropping a hammer
and feather and seeing which one hits the ground first, on the Moon on Apollo
15, to commemorate the pioneering scientific work of Galileo.</li>
<li>And of course, astronauts brought a <em>car</em> to the Moon for the last
three missions Apollo 15, 16, and 17. (How all-american is that by the way? In
America, we love our cars so much that we bring them to the Moon.)</li>
</ul>

<h4>Imagination, make believe</h4>

<p>The Tom Sachs Space Program reminds me of this fantastic radio story about a
father, Jim Steinfels, who together with his kids, constructed a home-built
Naval ship in their driveway and created a whole pretend world for his
children to live in over many years. Everyone in the family had a role in
running the ship, they had to work together to develop and maintain their
resources in ever dedicated service to the mission. Just like Team Sachs,
they all took this pretend play very seriously.</p>

<figure class="partial-width-centered">
	<video class="full-width" src="clipping-from-tal-episode-566.mp4" controls></video>
<figcaption>
	Excerpt from:
	<a href="http://www.thisamericanlife.org/radio-archives/episode/566/the-land-of-make-believe?act=1" target="_blank">
	This American Life, episode 566, act I</a>
</figcaption>
</figure>

<p>Examples like the Europa Mission, or the Steinfels ship remind us of the
thin line between pretend play and real life. Play is an important part of
development and health, it is in our biology. So pretend play is a very
practical thing, with social, creative, intellectual, and organizational
benefits. In President Kennedy's "We choose to go to the Moon" speech, one of
the reasons he gives for going to the Moon is:</p>

<p><blockquote>...because that goal will serve to organize and measure the best
of our energies and skills...</blockquote></p>

<p>This reason is as true for Apollo as it is for the Tom Sachs Space Program
as it is true for the Stienfels family. In each case, the participants rose to
the challenge and made beautiful and valuable and meaningful accomplishments
that they would not have otherwise. If imagination is more
important than knowledge, then imagination might be the greatest fuel,
and also the greatest product of both Space Programs.</p>

<p><a name="conclusion"></a></p>
<h3>Conclusion:</h3>

<p>Having witnessed the Europa Mission of the Tom Sachs Space Program, I'm suddenly
not too sad to have missed the Apollo Program. I now feel well-informed enough.
I learned about it more thanks to Nicholas de Monchaux. I felt about it more
thanks to Tom Sachs.</p>

<h4>But, is the art truthful?</h4>

<p>On the day when I saw Space Program Europa, even though I knew I was
watching an elaborate fiction, I somehow felt it was deeply truthful, maybe in
the way it captured and represented our common dreams as people.</p>

<p>Looking back on it now, I am reminded of what Werner Herzog calls "Ecstatic
truth". In this
<a href="http://www.rogerebert.com/rogers-journal/herzogs-minnesota-declaration-defining-ecstatic-truth" target="_blank">article</a>
by Roger Ebert, he explains just what this means:</p>

<p><blockquote>There are deeper strata of truth in [art], and there is such a
thing as poetic, ecstatic truth. It is mysterious and elusive, and can be
reached only through fabrication and imagination and stylization.</blockquote></p>

<p>If Sachs had merely gone for a historically accurate reproduction of Apollo,
it would have been quite boring and devoid of soul. But thanks to, fabrication,
imagination, and stylization, we can access deeper truths. That is what caused
the audience to repeatedly break out into joyous applause whenever there was a
small mission victory, because we were uplifted to face a truer picture of human
ingenuity and exploration.</p>

<p>When <a href="http://www.wnyc.org/story/209830-park-avenue-armory-gets-space-age-makeover/" target="_blank">asked</a>
about how just how real his Space Program is, Tom Says:</p>

<p><blockquote>...this space program is real because it wins hearts and minds.
</blockquote></p>

<p>At the <a href="https://www.ybca.org/" target="_blank">Yerba Buena Center for the Arts</a>,
the 6-hour long performance, is billed as a "demonstration" of the sculptures.
But isn't that a very museum-like way to put it? For those in attendance, the
show transcended this designation. The crew <em>went</em> to Europa. And in
doing so, the sculptures were transformed into something else: artifacts. They
are now imbued with the marks and history of the mission. If you go to see the
exhibit, don't forget that you are looking at objects that took us across the
solar system, to the moon Europa and back.</p>

<p>And if you want to see the "demonstration" for yourself, it will be performed
again January 13, 2017. Go
<a href="https://www.ybca.org/whats-on/space-program-europa-live-demonstration" target="_blank">here</a>
for tickets. I'd also recommend you read de Monchaux's
<a href="https://mitpress.mit.edu/books/spacesuit" target="_blank">book</a>.
</p>

<h3>Extra:</h3>

<h4>Question for Tom: The ascent stage?</h4>

<p>In Space Program: Europa, the whole Lunar Excursion Module took off from the
planet to reunite with the Command and Service Module. Was this intentional?
For Apollo, they departed in only the top portion, the Ascent Stage. Why did
you decide to change this? Is it because the true Sachsian ethos is to "Leave
no Trace", in other words, not leave any garbage behind?</p>

<p>As an aside, when reading about the two-stages of the Lunar Module, I came
across this
<a href="http://finleyquality.net/the-explosive-guillotine-in-the-lunar-module/" target="_blank">
excellent article on the explosive guillotine</a>
used to separate the two states on takeoff.</p>

<p>Here's a nice painting of ascent stage taking off. Good thing that explosive
guillotine did its job.</p>

<figure class="partial-width-centered">
	<img class="full-width" src="ascent-stage-guillotine-illustration.jpg">
<figcaption>
	Illustration of ascent stage taking off
	Source: <a href="http://spaceflight.nasa.gov/gallery/images/apollo/apollo11/html/s69-39335.html">nasa.gov</a>
</figcaption>
</figure>
