---
title: Berkeley
date: 2020-11-30
wrapping: gallery
---

<p>These works depict trajectories of flight in and around the Berkeley,
California, captured throughout 2020.</p>

<h3>How it works</h3>

<p>The process begins by capturing a moving subject on video, using a camera on
a sturdy tripod. I then extract the individual frames from the video to produce
an image sequence. Then, with pixel-processing and computational techniques,
the frames are sequentially superimposed, to make a progression that reveals the
otherwise invisible tracks that the moving subjects leave behind.</p>

<h3>Special thanks</h3>

<p>Check out <a target="_blank" href="%{root}/blog/image-blending-improvements/%{postfix}">this blog post</a>
where I explain some recent improvements to my video processing toolkit and how
some help from a couple of friends made it possible.</p>
