---
title: Thanksgiving In The Snow
date: 2015-11-30
wrapping: post
---

<figcaption>The following trip report is written by my wife Savina. I think it is
really great, so I asked to post it here on my website, and she agreed. I hope
you enjoy reading, and I hope Savina keeps writing. -Jeremy</figcaption>

<h4>Thursday, November 26th</h4>

<p>The night before, we prepared most of the stuff. Jeremy got the camping
kitchen from the closet. We woke up early saying Happy Thanksgiving. We were
the most excited to go to the snow. The previous days we checked the weather
twenty times and yes, there would be snow.</p>

<p>I prepared the food, Jeremy packed the car. We departed from the apartment
at 9 am sharp. Jeremy drove first. We got gas and headed to Sacramento and Lake
Tahoe and went over the Sierras. Just before Davis we witnessed a car accident
which was scary but it seemed that it would not have too bad consequences. As
we climbed freeway 50, we started to see snow everywhere. The trees were
covered with snow and they looked like snowmen. I texted my family and Jeremy’s
family with pictures of the snow. After Echo pass I started driving. We
entered Nevada and entered California again. The landscape of the valley was
incredibly beautiful. We had lunch (turkey salad) in a picnic area by Topaz
lake.</p>

<img class="full-width" src="2015-11-26 13.41.56.jpg">

<p>It was already promisingly cold. It was snowing. Jeremy took a nap and I
enjoyed the driving. The land felt very much like in western movies and it was
clear that I was very far from my little home country. I listened to my sister's
Manel CD. It kept snowing and I was driving very carefully. We saw a sign for
chains and we put them on. Later on, the road was clear and we stopped to take
the chains off. The car did not start again. After trying several times, Jeremy
called AAA and a tow truck was sent to rescue us. We waited in the car drinking
hot tea from the thermos. I say Jeremy was upset. I think he was a little.
Camping in the car was cancelled and Jeremy called a hotel to spend the night
while the car was in the shop. The tow truck driver was having a Thanksgiving
away from home but he was nice. He put our car on the truck and then left it at
the gas station next to the shop.</p>

<img class="full-width" src="2015-11-26 18.43.48.jpg">

<p>The shop just happened to be next door to the hotel. We checked in and went
to our room upstairs, 225. We had Thai food in the microwave and called Jeremy’s
family with facetime. They were at Debbie’s house with the two little kids.
After dinner we had a dip in the outdoor hot tub. We would lie down on the
snow and then run to the hot water. I dried my hair with the hair-drier. We
slept very well feeling very fortunate.</p>

<h4>Friday, November 27th</h4>

<p>We were told that breakfast would be at 7 am by the hotel front counter but
the guy who usually brings the donuts did not show up. We went to the shop at
8 am to talk to the guys. They were not sure if they could get any replacement
piece during the holiday weekend. We looked at the hotels around to sleep that
night and Jeremy made a bunch of calls. They all were sold out for Friday night.
The situation grew quite desperate. At the end, the mechanic told us they were
getting the piece from Bishop and that they will fix the car the same day.
Knowing that we would be having a place to sleep — the original plan to sleep
in the car at the RV campsite — we went ahead and took a bus to the Tamarack
Lodge backcountry ski area
(<a href="tamarac-ski-trail-map.jpg" target="_blank">map</a>).
The bus took a while. Jeremy complains about his cold toes. We went to an open
access road, Lake Mary road, and we meet other skiers with skins. Everybody
seems happier and more relaxed in this area. The road was not very steep and
the snow was well packed — not the most fun with the skins. We took some tracks
on the left on what it seemed was a fire road across the trees. It was beautiful
and the most fun. The snow was deep and powdery. I was sweating and threw myself
on the snow for a rest. In just a moment I got terribly cold. My hands and feet
were suffering much.</p>

<img class="full-width" src="2015-11-27 12.56.37.jpg">

<p>We came back skiing down the same fire road and then Lake Mary road to the
Lodge. Then the bus just arrived. I took off my ski boots and my toes hurt very
much as the circulation resumed inside my warm Ugg boots. Once at town, we went
to get the car which was fixed. It was still early and Jeremy wanted to go to
the gear shop to have a consultation about our boots and get suspenders for
himself and socks for me. It took forever. We learned that Jeremy’s boots are
actually a little big and my boots were all stuffed with extra shims that
compressed my feet — and made them extra cold for lack of circulation. Then we
went to our campsite. The RV park was full of snow.</p>

<img class="full-width" src="2015-11-28 08.38.09.jpg">

<p>We drove to the gas station to get marshmallows and firewood. We had to get
firewood because the propane for our camping stove was too cold to work. We made
fire together and cooked macaroni and cheese with sun-dried tomatoes and
s'mores for dessert. No time for hot tub tonight. We decided to enjoy the
fire.</p>

<img class="full-width" src="2015-11-27 19.40.27.jpg">

<p>We went to sleep in the car after a visit to the heated restrooms. I used
the big sleeping bag and Jeremy used mine. I was first cold, especially because
I forgot to put on a beanie, and then so warm I had to remove my socks.</p>

<h4>Saturday, November 28th</h4>

<p>Got up! Get ready to ski. Headed to the resort but seeing the terrible
traffic we decided to go back to the back country ski center, this time driving.
We have breakfast at the hotel there. We ski up the same public road and then
turn right to the Red Cone area. Everything was beautiful. My favorite are the
trees covered with snow that shines when the sun goes through.</p>

<img class="full-width" src="2015-11-28 savina-skiing-screenshot-from-video.jpg">

<p>Going up is fabulous and the most fun.</p>

<img class="full-width" src="2015-11-28 14.20.40.jpg">

<p>Going down is harder. And colder. We made most of our way down. At a point,
I was so stuck in a steep section that I throw myself to the slope below. It
was just another fall but at least this one gained me some progress downwards.</p>

<img class="full-width" src="our-spot-on-the-map.jpg">

<p>When we get to the main track, it is dark night. Jeremy believes walking is
actually faster than skiing on the flat sections of the road. Maybe. But I’m
too cold to stop to take my skis off. Jeremy has a headlamp, I don’t. The last
section was the same Lake Mary road we skied the day before. For a moment it
seems we are skiing in the Arctic winter fields. We finally get to the car. It
is cold and the sky is clear. Back at the campsite we go to the hot tub. Then,
to the cafe where we have classic American food. The second night in the
campsite is good.</p>

<h4>Sunday, November 29th</h4>

<img class="full-width" src="2015-11-29 07.27.31.jpg">

<p>All the windows in the car are frozen and we even find some snow inside the
car — from our breath. We take off. Most of the food we had for the drive back
was frozen. Frozen carrots are kind of ok, frozen cucumbers not so much. I
wanted to stop at Mono Lake but the road was so icy we had to turn back. We
cross the Sierras in the opposite direction. To get to the Bay Area we crossed
the delta around the Sacramento river, trying to avoid traffic. The countryside
roads are crossing beautiful wetlands, the sun is going down with the best
light. I’m happy. We are happy.</p>
