---
title: Eight Rod Ring
date: 2007-03-02
wrapping: post
---

<p>Hang this sculpture on the door. I think it makes a great wreath. It may
  even symbolize the cyclical nature of life.</p>

<img class="full-width" src="2015-08-07-wreath-at-door.jpg">

<p>The rods brace outwards against the inward pull of the twine. They balance
  each other out.</p>

<p>This makes it a Tensegrity. You can read more about theory and techniques
  <a href="%{root}/blog/tensegrity-explained/%{postfix}" target="_blank">here</a>.</p>

<p>It is of a class of Tensegrity structures known as prisms – in this case, an
  octagonal prism. Each base is an octagon and the walls of the prism are
  twisted about its axis. The rods make up a
  <a href="https://en.wikipedia.org/wiki/Hyperboloid" target="_blank">
  hyperboloid</a>, a mathematical surface made from straight
  lines revolved around a separate axis, same shape as commonly used for
  cooling towers.</p>

<p>Each element relies on its neighbors and the circularity of the arrangement
  to remain stable. Kind of like a
  <a href="https://en.wikipedia.org/wiki/Lap_circle" target="_blank">
  lap circle</a>, a team-building exercise where a group of
  people form a ring each sitting on the lap of the next. Unlike a lap circle
  though, this structure stays up independent of gravity.</p>

<p>I like how it looks simple and complex at the same time, like the world
  inside and outside your door.</p>

<img class="full-width" src="2008-02-18-wreath-of-eight-rods-side.jpg">
<img class="full-width" src="2008-02-18-wreath-of-eight-rods-top.jpg">

<figcaption><b>Wreath of eight rods (2007)</b><br>
Poplar dowel rod, twisted nylon masonry twine. 12" x 12" x 6"</figcaption>
