---
title: Groutfiti
date: 2007-10-10
wrapping: post
---

<p>One of the things I've learned of recently is so-called "groutfiti".</p>

<img class="full-width" src="2016-11-14-groutfiti.jpg">

<p>Urban dictionary provides
  <a href="http://www.urbandictionary.com/define.php?term=Groutfiti">an entry</a>
  :</p>

<blockquote>A form of graffiti. It involves
  writing in the tiny space of grout in between tiles in public toilets. The
  phrases always are made up of some pun using the word grout... This type of
  graffiti has no deep meaning, but it is a great example of intellectual fun.
</blockquote>

<p>A friend introduced me to this college campus pastime when explaining to me
  what a
  <a href="https://en.wikipedia.org/wiki/Meme" target="_blank">meme</a> is.</p>

<h3>Here's my contributions:</h3>
<ul>
<li>Three strikes and you're grout!</li>
<li>That's what it's all agrout</li>
<li>Grout wall of China</li>
<li>It's agrout time</li>
<li>Grouto Marx</li>
<li>Twist and grout</li>
<li>Sometimes a Grout Notion</li>
<li>Grout scott!</li>
<li>Oscar the Grout</li>
<li>Grout Expectations</li>
<li>Grout! Grout! Let it all out! (Blair)</li>
<li>The grout potato famine</li>
<li>Grout 66</li>
<li>A classy man agrout town (Millington)</li>
<li>Grout of Africa</li>
<li>The Grout Escape</li>
<li>The Groutest show on Earth</li>
<li>Be not afraid of groutness, some are born grout, some achieve groutness, and
  some have groutness thrust upon them. (Twelfth Night)</li>
</ul>
