---
title: About
wrapping: page
---

<p>For the past 10 years I've been making work that aims to capture a certain
	essence from the natural world and transform it into a tangible object of
	art.</p>

<img class="partial-width-centered" src="jeremy-sarchet-headshot-1024-1024.jpg">

<p>It begins with a concept from the natural world – motion, force, vibration,
	push-pull, equilibrium, action-reaction, perception, the flow of time – then
	there's the question: how can it be reproduced?</p>
<p>I aspire to use common materials and techniques of craft and the manual
	arts. I take pride in making elements by hand when feasible. Sometimes the
	transformation requires working in math, physics, and programming (which I
	see as creative disciplines). I prefer the final art object to bear the marks
	of its construction. Most importantly, the work should present an element of
	mystery.</p>
<p>I was born in 1989 and raised in California. I earned a B.A. In Physics from
	the University of California Santa Barbara in 2012, and from there went on to
	work as a computer programmer with a focus on computer graphics and virtual
	reality. Starting in 2017, I dedicated a couple of years to working full time
	as an independent artist. In 2020, I returned to working as programmer,
	specializing in web development, and continuing to make art on the side. I
	live in the Upper Empordà, Catalonia, Spain with with my wife Savina, and our
	sons Isaac and Sam.</p>
