---
title: I Fell Over
date: 2021-01-01
description: Here's a love song I wrote which brings me back.
meta-image: 2021-01-01-11.45.12-i-fell-over-poster.jpg
wrapping: post-no-thumbnails
---
<video class="full-width" src="2021-01-01-11.45.12-i-fell-over-web.mp4" controls
poster="2021-01-01-11.45.12-i-fell-over-poster.jpg"></video>

<figcaption>
  Key: D<br>
  Verse: Em - Bm - Em - Bm<br>
  Chorus: (F#m - Em - D) - Bm - Em - A<br>
  Bridge: Bm - F#m - Bm - F#m
</figcaption>

<p>
  You say I might<br>
  come see you tonight.<br>
  All is new,<br>
  a sudden rendezvous.<br>
  I feel free<br>
  in your company.<br>
  Won't you stay,<br>
  until the break of day.<br>
</p>
<p>
  It's our lives and we don't know<br>
  what awaits us down the road.<br>
  Skies are blue and skies are gray.<br>
  Would we keep the blues away?<br>
</p>
<p>
  Find our way and make a plan.<br>
  We were young and we began<br>
  to understand what we know now.<br>
  No one could've shown us how.<br>
</p>
<p>
  I fell over<br>
  the moment I saw you.<br>
  You were standing in my doorway<br>
  and time was standing still.<br>
</p>
<p>
  I was thinking of you,<br>
  you couldn't get my number<br>
  you tracked me down and found me<br>
  and we found one another.<br>
</p>
<p>
  Time was standing still.<br>
</p>
<p>
  Round the mountain follow you,<br>
  something's coming into view.<br>
  Seasons come and seasons go<br>
  to a valley down below.<br>
</p>
<p>
  Cross the ocean and the land.<br>
  Would you take me by the hand?<br>
  Stars incline but don't oblige<br>
  on this journey we define.<br>
</p>
<p>
  And as we've grown older,<br>
  we have grown together,<br>
  made a life between us,<br>
  and between a few others.<br>
</p>
<p>
  Something stirs<br>
  in my heart  when I think<br>
  I could wake up by your side<br>
  for the rest of my days.<br>
</p>
<p>
  Time was standing still.<br>
</p>
<p>
  Some would say,<br>
  it's too far away.<br>
  But I've no doubt<br>
  we can work it out.<br>
  What I see,<br>
  a place for you and me<br>
  Time will tell.<br>
  I couldn't say farewell.<br>
</p>
