<a href="http://reinoudvanlaar.nl/" target="_blank" rel="noopener">Reinoud van Laar</a>

<a href="http://www.jerobeamfenderson.net/" target="_blank" rel="noopener">Jerobeam Fenderson</a> - <a href="https://www.youtube.com/channel/UCECl4aNz5hvuRzW5fgCOHKQ" target="_blank" rel="noopener">youtube channel</a>

<a href="http://alejandroerickson.com/" target="_blank" rel="noopener">Alejandro Erickson</a>

<a href="http://www.sydneycash.com/" target="_blank" rel="noopener">Sydney Cash</a> - <a href="https://www.youtube.com/channel/UCkyMCGyRxflHBR4v-828KxQ" target="_blank" rel="noopener">youtube channel</a>

<a href="http://mmbartosik.com" target="_blank" rel="noopener">Michal Maciej Bartosik</a>

<a href="https://preziotte.com/" target="_blank" rel="noopener">Mathew Preziotte</a>

<a href="http://www.jamesclar.com/works/" target="_blank" rel="noopener">James Clar</a>

<a href="https://en.wikipedia.org/wiki/Frei_Otto" target="_blank" rel="noopener">Frei Paul Otto</a>&nbsp;- Video experimenting with <a href="https://www.youtube.com/watch?v=-IW7o25NmeA" target="_blank" rel="noopener">soap film</a>

<a href="http://www.elisastrozyk.de/" target="_blank" rel="noopener">Elisa Strozyk</a>

http://mondo-blogo.blogspot.com/

http://www.obuchilab.com/archive/2013-2014/digital-fabrication/tesselatedtensegrity/

http://www.archdaily.com/553311/students-of-ball-state-construct-parametric-tensegrity-structure-for-local-art-fair/

http://spiro.arch.ethz.ch/de/research/reciprocal-frame/workshop.html

&nbsp;

William Collins
https://tensegrity.wikispaces.com/Collins,+William
Akira Nishihara - 3d prints of tensegrities
http://www.shapeways.com/designer/akiranishihara/creations

Alvaro Fernandez Lopez
https://alvarofernandezlopez.wordpress.com

Elisa Soberanez Molina
http://elisasm.blogspot.com/

METERVARA + GRONGAARD
http://metervara.grongaard.net/tensegrity-project/
Business card triacontahedron
http://www.origami-resource-center.com/business-card-orb.html

Octahedron in a balloon
http://makezine.com/2011/11/21/math-monday-an-octahedron-in-a-balloon/

Build a wire torus
http://makezine.com/2010/10/24/math-monday-wire-torus-challenge/

Vladimir Bulatov
https://www.youtube.com/user/bulatov2011/featured

Rossiter, Adrian
https://tensegrity.wikispaces.com/Rossiter,+Adrian
http://www.antiprism.com/album/835_tens_models/index.html

John Edmark
maker of the “helicone” kinetic sculpture (reminds me of playing with shower curtain binder rings)
http://www.johnedmark.com/

Chuck Hoberman
hoberman sphere

Secciones des Aurees
http://www.alicantevivo.org/2009/03/seccions-des-aurees-estructura.html

90 strut tensegrity
https://tensegrity.wikispaces.com/90+struts

Angelo Agostini
http://hardstudio.altervista.org/studi.htm
http://hardstudio.altervista.org/16pizze.htm
https://tensegrity.wikispaces.com/Agostini,+Angelo

&nbsp;

Abe Davis
https://www.youtube.com/watch?time_continue=340&amp;v=4f09VdXex3A

&nbsp;

<span style="font-weight: 400;">Recommendations from Jean-Pierre visit late 2016</span>
<ul>
 	<li><span style="font-weight: 400;">Microbial art Eschel Ben Jacob</span></li>
 	<li><span style="font-weight: 400;">Making works for the Kitp hotel - Ian Parker, Myles seiotto, Hans Delinger,</span></li>
 	<li><span style="font-weight: 400;">Theo Jensen - Karl Sims, artist from Cambridge, evolutionary art.</span></li>
 	<li><span style="font-weight: 400;">Ruth Asawa - Berkeley</span></li>
 	<li><span style="font-weight: 400;">Robert Ryman - interesting New York painter</span></li>
 	<li><span style="font-weight: 400;">Bertoia - chairs and metal bells</span></li>
</ul>


Since when have photographers been painting with light? Since the beginning of photography. This is a great reference:
<pre>Light Painting Photography, "<a href="http://lightpaintingphotography.com/light-painting-history/" target="_blank">Light Painting History</a>", Jason D. Page</pre>
