---
title: Golden Bamboo Column
date: 2013-04-01
wrapping: post
---

<!--
Note on youtube embeds
https://developers.google.com/youtube/player_parameters#release_notes_08_23_2018
-->


<p>This arrangement of tied-up bamboo has spirit and pluck. It is sturdy and
resilient, yet it will sway and swing gracefully in the wind.</p>

<figure class="partial-width-centered">
<img class="full-width" src="2017-12-20-gbc-portrait.jpg">
<figcaption>
<strong>Golden Bamboo Column (2013)</strong><br>
Golden bamboo (Phyllostachys aurea), nylon cord<br>
1 x 1 x 4 meters<br>
</figcaption>
</figure>

<p>The stalks are smooth but not uniform, gentle but not weak. The golden lines
  stack on top of each other and tilt at predictable angles, criss-crossing and
  zig-zagging their way upwards.</p>

<video class="partial-width-centered" autoplay="" loop="" muted="" playsinline="" preload=""
src="2017-12-20-gbc-splash-video-loopable.mp4"
poster="2017-12-20-gbc-loopable-poster.jpg">
</video>

<p>The structure is a classic tensegrity tower. It has nine levels. Each level
is a twisted triangular prism consisting of three rods. The twist direction
alternates between levels, and the length of the rods decreases as you travel
upwards to give the column a gentle taper.</p>

<img class="full-width" src="2017-12-20-gbc-detail.jpg">

<p>The rods are held together with thin braided nylon cord. The cord attaches
to the ends of the rods with tied fixed loops. The loops loop around studs,
which are additional pieces of bamboo nested into the hollow of the rods
themselves, like this:</p>

<img class="full-width" src="2017-12-20-gbc-stud-closeup.jpg">

<p>Some cords are adjustable thanks to a special friction hitch, the
<a href="https://en.wikipedia.org/wiki/Prusik" target="_blank">prusik</a>,
tied midway along their length. By adjusting the tension on these cords, the
whole structure can be tuned and stabilized, like tightening on the head of a
drum. Here's a closeup view of one of the prusiks:</p>

<img class="full-width" src="2017-12-20-gbc-closeup.jpg">

<p>The network of strings under tension perfectly balances the layout of sticks
under compression. When a good amount of tension is applied the whole column
will bounce and quiver, it has no problem holding itself together.</p>
