---
title: Seamless Mobius Weave
date: 2015-07-26
wrapping: post
---
<figure>
<img class="full-width" src="2016-12-12-seamless-mobius-weave.jpg">
<figcaption><strong>Seamless Möbius Weave (2015)</strong><br>
Hemp twine, two pieces (dyed & natural colors)
3" x 3" x 2"</figcaption>
</figure>

<p>This summer I studied weaving. I had a delightful time learning from the great
<a href="http://www.sffiber.com/bio.html" target="_blank">Lou Grantham</a>
who is owner/operator/instructor at
<a href="http://www.sffiber.com/" target="_blank">San Francisco Fiber</a>.</p>

<p>After making a handful of traditional pieces in Lou's studio and at home, I
then couldn't resist the desire to make a weaving of an unconventional and
special topology, the
<a href="https://en.wikipedia.org/wiki/M%C3%B6bius_strip" target="_blank">Möbius Strip</a>.
But simply weaving a strip and then joining it together at the ends with a
single twist in the middle wouldn't do. I wanted it to be seamless, with the
warp and the weft running uninterrupted throughout the whole band.</p>

<p>So I needed a special loom, to support the weaving process. My first attempt
at loom construction was a single piece of wire, like so:</p>

<img class="full-width" src="2015-07-13-seamless-mobius-weave-1.jpg">

<p>But this was too flimsy, it wouldn't hold its width. I needed some structural
cross-members, so I added the following with careful wire-plier work:</p>

<img class="full-width" src="2015-07-14-seamless-mobius-weave-2.jpg">

<p>As you can see, each cross-member acts as a bridge to keep the two rails
apart at the proper distance, while each bridge remains out of the way of the
weaving plane.</p>

<p>From here, the warping of the loom was easy. It consisted of simply wrapping
the hemp fiber around the rails and keeping a more or less consistent spacing
the whole way round.</p>

<img class="full-width" src="2015-07-14-seamless-mobius-weave-3.jpg">

<p>Then, the main weaving activity could begin.</p>

<p>But wait!</p>

<p>It is not immediately clear how to go about this. I can't merely start
weaving from one edge to the other. Due to the counter-intuitive topology of
the Möbius strip, every time you complete a pass around, along one edge, you end
up back where you started but along the other edge. (Well, technically, a
Möbius strip has only one edge, but if you just look at your local spot on the
strip, then you can talk about it having two edges)</p>

<p>So, what can we do about that? Start from the middle and work outwards? With
each pass proceeding outwards from the middle along alternating edges?</p>

<p>Consider the following path for the single weft fiber, starting from the
middle:</p>

<img class="full-width" src="2016-12-21-mobius-warp-asymmetric.png">

<p>This didn't satisfy me very much, too asymmetric I thought. So I came up
with the following alternative:</p>

<img class="full-width" src="2016-12-21-mobius-warp-symmetric.png">

<p>What I've done is to start the weft in the midline of the strip (indicated
by the thick line in the above drawing), as two fibers doubled over and
proceeding together. Then the weaving process proceeds symmetrically outwards,
with two weft fibers advancing together, each new time around "switching sides"
(but not really,  because a Möbius strip has only one side, remember?)</p>

<p>I settled on the second, more symmetric option, but was this the right
choice? I traded off bilateral symmetry for a double-thickness of warp along
the midline. Is this a fair trade? What does bilateral even mean in the context
of Möbius topology? Is the lack of obvious symmetry option here related to what
happens when you
<a href="https://plus.maths.org/content/puzzle-page-12" target="_blank">cut a Möbius strip in half</a>?
</p>

<p>Back to weaving. In practice, the weaving was more like embroidery, as I was
passing the weft through with a needle, over, under, over, under. There is no
convenience of
<a href="https://en.wikipedia.org/wiki/Heddle" target="_blank">heddles</a>
to form a
<a href="https://en.wikipedia.org/wiki/Shed_(weaving)" target="_blank">shed</a>
and pass a
<a href="https://en.wikipedia.org/wiki/Shuttle_(weaving)" target="_blank">shuttle</a>
of weft through here. No, each over and under was done manually with needle
technique.</p>

<p>Here, you can see the weaving coming along nicely:</p>

<img class="full-width" src="2016-12-12-seamless-mobius-weave-4.jpg">

<p>Once I was satisfied with the number of weft passes, it was finally time to
remove the work from the loom. Only, in this case, the only way to accomplish
this is to destroy the loom, turning it into pieces with my wire cutter. In
other words, I removed the loom from the weaving!</p>

<img class="full-width" src="2016-12-12-seamless-mobius-weave-5.jpg">

<p>Once the piece was free from the loom, I noticed it had quite a lot of
slack. So I set out to remove the slack, first concentrating all of the warp
passes together like so:</p>

<img class="full-width" src="2016-12-12-seamless-mobius-weave-6.jpg">

<p>And then carefully working the weft through, one bit at a time, until the
density gap was closed:</p>

<img class="full-width" src="2016-12-12-seamless-mobius-weave-7.jpg">

<p>And, finally, I tied the two ends of the weft to the two ends of the warp,
to complete the weave, and trimmed the excess down to the knot.</p>

<img class="full-width" src="2016-12-12-seamless-mobius-weave-8.jpg">

<p>As promised, a seamless Möbius weave.</p>
