---
title: Autological
date: 2008-03-07
wrapping: post
---

<p>Autological words are self classifying, self describing, or self defining.</p>

<img class="full-width" src="2016-11-14-autological-word-chart.jpg">

<p>I first came across this wonderful concept from
  <a href="https://en.wikipedia.org/wiki/G%C3%B6del,_Escher,_Bach"
  target="_blank">Gödel, Escher, Bach by Douglas Hofstadter</a>.</p>
<p><a href="https://en.wiktionary.org/wiki/Appendix:English_autological_terms"
  target="_blank">Wiktionary</a> has an appendix dedicated to this, and
  <a href="http://www.segerman.org/autological.html"
  target="_blank">Henry Segerman</a> has an exhaustive (exhausting?)
  collection.</p>
<p>Here's my favorites. Can you think of any others?</p>

<!-- <div style="width: 45%; float: left;"> -->
abbr.<br />
adjectival<br />
aforementioned<br />
antonym?<br />
awkwardnessfull<br />
bland<br />
boring<br />
buzzword<br />
classifiable<br />
cliché<br />
coined<br />
common<br />
complete prefixed<br />
comprehensible<br />
concept<br />
describable<br />
descriptive<br />
eroneous<br />
existant<br />
fifteen-lettered<br />
finite<br />
glottal<br />
grandiloquent<br />
harmless?<br />
hissing<br />
<a href="https://en.wikipedia.org/wiki/Grelling%E2%80%93Nelson_paradox"
target="_blank">heterological</a><br />
iamb<br />
intelligible<br />
invented<br />
lingo<br />
meme<br />
mispelt 🙂<br />
nasal<br />
nonpalindromic<br />
noun<br />
olde<br />
one<br />
password &#8211; (based on empirical evidence)<br />
pentasyllabic<br />
perfussive<br />
plain<br />
plosive<br />
pronouncable<br />
quaint?<br />
readable<br />
repeatable<br />
sdrawkcab<br />
short<br />
silibant<br />
thing<br />
translatable<br />
understandable<br />
understood<br />
unfinish<br />
unique<br />
verb?<br />
vwllss<br />
whole<br />
word<br />
writable<br />
zig-zag</div>
