---
title: Songwriting
description: Here's some songs I've written.
wrapping: page
---

<p>I started learning the guitar in 2019, and haven't been able to resist trying
to write some songs of my own. These ones are mostly worked out yet still in a
rough state.</p>

<p>It brings me a lot of enjoyment and I plan to keep practicing.</p>

%{listing-no-thumbnails}
