---
title: Home
wrapping: home
---

<figure class="full-width">
	<video class="full-width" loop controls
	src="deanimation/berkeley/videos/2020-09-23-0303-m1-s1-i200.mp4"
	poster="deanimation/berkeley/images/1920/2020-09-23-0303-m1-s1-i200-poster.jpg">
	</video>
<figcaption>
<strong>2020.09.23.0303</strong><br>
Bugs and motes of dust around a live oak. Berkeley, California.<br>
<br>
Incremental motion of particles gently drifting in the sunshine.<br>
Slow motion digital video (1/5th speed) with sequential frame blending.<br>
</figcaption>
</figure>
<br>

<a href="%{root}/deanimation/berkeley/%{postfix}">More from this series</a>
