---
title: Katalonski
date: 2018-05-17
wrapping: post
---

<p>Guess what! Savina and I are on television in Catalonia!</p>

<img class="full-width" src="2018-05-17-katalonski-poster-frame.png">

<p>We're honored to be featured in a new travel program "Katalonski", and the
  episode in which we take part (the one which explores the San Francisco Bay
  Area) aired yesterday. Halldor Mar, the host of the program, is himself a
  non-native Catalan speaker. In each episode Halldor has engagements with a
  handful of participants and learns about their lives and their connections to
  Catalan language and culture. The program runs on TV3, which is the main
  public television broadcaster over there (kind of like the BBC of Catalonia).
</p>

<p>Of course, the show is in Catalan, intended for a Catalan audience. But! I
  have made a special version for English-speaking friends. This version is
  abridged (I've only included the segments featuring me and Savina), and I've
  written English subtitles for it.</p>

<div class="container-16-9">
  <iframe src="https://www.youtube.com/embed/SoEbFeIWrhk"
  frameborder="0" allowfullscreen></iframe>
</div><br>

<p>You can also view the
  <a href="http://www.ccma.cat/tv3/alacarta/katalonski/san-francisco/video/5764827/"
  target="_blank" >official episode</a>
  as originally broadcast, in Catalan and without subtitles, direct from TV3.</p>
